<fieldset>
<div class="animated fadeIn" *ngIf="currentAgent?.typeAgent">
  <div class="row justify-content-center" style="width: 95%;">
    <div class="col-sm-6">
      <div class="card shadow-lg p-3 mb-5 rounded" style="background-color: aliceblue;">
        <div class="card-header">
          <legend style="text-align: center;"> <strong>Modifier <i class="text-info">{{currentAgent?.prenom}} {{currentAgent?.nom}} </i></strong></legend>
        </div>
        <form [formGroup]="agentForm">
          <div style="height: 40px;"></div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Prenom</label>
            <input type="tel" class="form-control"  id="prenom" formControlName="prenom" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nom</label>
            <input type="tel" class="form-control"  id="nom" formControlName="nom" >
          </div>
          <div class="mb-3">

            <label for="exampleInputPassword1" class="form-label">Téléphone</label>
            <input type="tel" class="form-control"  id="num" formControlName="telephone" >
          </div>
          <div class="md-3">
            <label for="exampleInputPassword1" class="form-label">Guichet : </label>
            <select class="form-control" formControlName="typeAgent" >
              <!-- option par defaut -->
              <!-- <option hidden value="Officier" *ngIf="guichetCurrent==='officier' " >Officier</option> -->
              <option hidden value="naissance" *ngIf="guichetCurrent==='naissance' ">Declaration Naissance</option>
              <option hidden value="mariage" *ngIf="guichetCurrent==='mariage' ">Declaration Mariage</option>
              <option hidden value="deces" *ngIf="guichetCurrent==='deces' ">Declaration Deces</option>
              <option hidden value="renouvellement" *ngIf="guichetCurrent==='renouvellement' ">Renouvellement</option>
              <option hidden value="genre" *ngIf="guichetCurrent==='genre' ">Tout Genre</option>
              <option hidden value="authentfication" *ngIf="guichetCurrent==='authentfication' ">Authentfication</option>
                <!-- Option a afficher -->
              <!-- <option value="Officier" *ngIf="guichetCurrent!='officier' ">Officier</option> -->
              <option value="naissance" *ngIf="guichetCurrent!='naissance' ">Declaration Naissance</option>
              <option value="mariage" *ngIf="guichetCurrent!='mariage' ">Declaration Mariage</option>
              <option value="deces" *ngIf="guichetCurrent!='deces' ">Declaration Deces</option>
              <option value="renouvellement" *ngIf="guichetCurrent!='renouvellement' ">Renouvellement</option>
              <option value="genre" *ngIf="guichetCurrent!='genre' ">Tout Genre</option>
              <option value="authentfication" *ngIf="guichetCurrent!='authentfication' ">Authentfication</option>

            </select>
          </div>
          <div class="md-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" name="email"  class="form-control" formControlName="email"
           />
          </div>
        </form>
      </div>
      <div class="card-footer" style="text-align: center;">
        <button type="submit" class="btn btn-success text-white"  (click)="onSubmitFormAgent()" [disabled]="agentForm.invalid" >Valider</button>
        &nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-danger text-white">Annuler</button>
      </div>
    </div>
  </div>
</div>






<div class="animated fadeIn" *ngIf="!currentAgent?.typeAgent">
  <div class="row justify-content-center" style="width: 95%;">
    <div class="col-sm-6">
      <div class="card shadow-lg p-3 mb-5 rounded" style="background-color: aliceblue;">
        <div class="card-header">
          <legend style="text-align: center;"> <strong>Modifier <i class="text-info">{{currentOfficier?.prenom}} {{currentOfficier?.nom}} </i></strong></legend>
        </div>
        <form [formGroup]="agentForm">
          <div style="height: 40px;"></div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Prenom</label>
            <input type="tel" class="form-control"  id="prenom" formControlName="prenom" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nom</label>
            <input type="tel" class="form-control"  id="nom" formControlName="nom" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Téléphone</label>
            <input type="tel" class="form-control"  id="num" formControlName="telephone" >
          </div>
          <div class="md-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" name="email"  class="form-control" formControlName="email"
           />
          </div>
        </form>
      </div>
      <div class="card-footer" style="text-align: center;">
        <button type="submit" class="btn btn-success text-white"  (click)="onSubmitFormOfficier()" [disabled]="agentForm.invalid" >Valider</button>
        &nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-danger text-white">Annuler</button>
      </div>
    </div>
  </div>
</div>
</fieldset>
