<div class="card" >
  <div class="card-header" style="font-size: large;">
    Liste Agents
  </div>
  <fieldset>
    <div class="card-body" style="text-align: center;">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-info">
            <th class="text-info" scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Guichet</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="font-size: 13px;" *ngFor="let agent of agents">
          <tr *ngIf="agent.etat===false">
            <th class="text-info" scope="col">{{agent.id }}</th>
            <th scope="col"> {{agent.prenom | titlecase }} </th>
            <th scope="col">{{agent.nom | titlecase }} </th>
            <th scope="col"><strong>{{agent.telephone }}</strong></th>
            <th scope="col">{{agent.typeAgent | uppercase}}</th>
            <th>
              <button type="button" class="btn btn-info btn-sm" [routerLink]="['/agent/detailagent',agent.id]"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                  viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>



<ng-template #content let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">supprimer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    voulez-vous le supprimer !!
  </div>
  <div class="modal-footer" *ngIf="courentSection === 'agent'">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(supprimerAgent())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>



</ng-template>

