<div class="card" style="margin: 10px;">
  <fieldset>
    <div class="card-header">
      <strong>Liste <i class="text-primary">demandes</i> archivées</strong>
    </div>
    <div class="card-body" style="text-align: center;font-size: small;background-color: black;">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-info" scope="col">#</th>
            <th scope="col" class="text-primary">Extrait</th>
            <th scope="col" class="text-white">Date Evenement </th>
            <th scope="col" class="text-white"> Date D'envoie</th>
            <th scope="col" class="text-white">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let mariage of mariages">
          <tr *ngIf="mariage?.motif ">
            <th class="text-info" scope="col">{{mariage?.id}}</th>
            <th scope="col" class="text-white">{{mariage?.extrait}}</th>
            <th scope="col" class="text-white"> {{mariage?.dateEvenement }} </th>
            <th scope="col" class="text-white">{{mariage?.date}}</th>
            <th>
              <button type="button" class="btn btn-success btn-sm" [routerLink]="['/mariage/detailmariage',mariage.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-calendar-plus" viewBox="0 0 16 16">
                  <path
                    d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                  <path
                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
              </button>&nbsp;
              <button type="button" class="btn btn-danger btn-sm"
                (click)="openSm(content,mariage?.motif)"> Motif
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>

<ng-template #content let-modal class="md-8">
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">Motif du Rejet</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center" >
    <strong>{{currentMotif?.motif}}</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">Fermer</i>
    </button>
  </div>
</ng-template>
