<div class="card-body" >
  <fieldset>
  <table class="table table-hover" style="font-size: 13px">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-info">#</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let newUser of newUser">
      <tr *ngIf="newUser.etat===false">
        <th scope="row" class="text-info">{{newUser.id }}</th>
        <td>{{newUser.prenom | titlecase }} </td>
        <td>{{newUser.nom | titlecase }}</td>
        <td><i>{{newUser.email }}</i></td>
        <td><strong>{{newUser.telephone }}</strong></td>
        <td>
          <button type="button" class="btn btn-success btn-sm" style="color: rgb(255, 255, 255);" (click)="updateUser(newUser.id)" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-person-check" viewBox="0 0 16 16">
              <path
                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
              <path fill-rule="evenodd"
                d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            </svg>&nbsp;Accepter
          </button>&nbsp;
          <button type="button" class="btn btn-info btn-sm" [routerLink]="['/user/edituser',newUser.id]">
            <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
            viewBox="0 0 16 16">
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>
          </button>&nbsp;

          <!-- <button type="button" class="btn btn-danger btn-sm" style="color: rgb(255, 255, 255);">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x" viewBox="0 0 16 16">
              <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
              <path fill-rule="evenodd" d="M12.146 5.146a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
            </svg>&nbsp;rejeter
          </button> -->

        </td>
      </tr>

    </tbody>
  </table>
  </fieldset>
</div>
