<app-search></app-search>

<!-- </div> -->
<div class="container  shadow d-flex justify-content-center ">
  <!-- nav options -->
  <ul class="nav nav-pills m-2 shadow-sm" id="pills-tab" role="tablist" style="background-color: white;">
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'nvelle' ? 'active' : ''}}" id="pills-home-tab"
        data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" (click)="changeSection('nvelle')">
        Nouvelle Demande</a> </li>
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'enCour' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('enCour')">En cours</a> </li>
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'terminer' ? 'active' : ''}}" id="pills-contact-tab"
        data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false"
        (click)="changeSection('terminer')">Terminées</a> </li>
  </ul> <!-- content -->
</div>
<!-- liste demande  nouvelle -->
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'nvelle'">
  <div class="card-header">
    <strong>Liste <i class="text-primary">demande</i> d'authentfication</strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Matricule</th>
          <th scope="col">Nom & Prénom </th>
          <th scope="col"> Telephone </th>
          <th scope="col">Adresse</th>
          <th scope="col"> Date Debut</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let auth of auths">
        <tr *ngIf="!auth.dateRv && !auth.motifRejet">
          <th class="text-info" scope="col">{{auth.id}}</th>
          <th scope="col">{{auth.numAuthentfication}}</th>
          <th scope="col"> {{auth.prenom.substr(0, 1) | titlecase}} {{auth.nom }} </th>
          <th scope="col">{{auth.num}}</th>
          <th scope="col"><i>{{auth.adresse | titlecase}}</i></th>
          <th scope="col">{{auth.dateDebut | date:"dd-MM-yyyy" }}</th>
          <th>
            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/authentification/addauth',auth.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path
                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/authentification/editauth',auth.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="open(content,auth.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- liste demande  en cour -->
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'enCour'">
  <div class="card-header">
    <strong>Liste authentfication <i class="text-primary">en cour </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Matricule</th>
          <th scope="col">Nom-Prénom-Tel </th>
          <th scope="col">Adresse</th>
          <th scope="col"> Date Debut</th>
          <th scope="col"> Date RV</th>
          <th scope="col">Action</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>
      <tbody *ngFor="let auth of auths">
        <tr *ngIf="auth.etat==='en cour' && auth.dateRv && !auth.motifRejet">
          <th class="text-info" scope="col">{{auth.id}}</th>
          <th scope="col">{{auth.numAuthentfication}}</th>
          <th scope="col"> {{auth.prenom.substr(0, 1) | titlecase}} {{auth.nom }} <br>{{auth.num}} </th>
          <th scope="col"><i>{{auth.adresse | titlecase}}</i></th>
          <th scope="col">{{auth.dateDebut | date:"dd-MM-yyyy" }}</th>
          <th scope="col">{{auth.dateRv | date:"dd-MM-yyyy" }}</th>
          <th>
            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/authentification/addauth',auth.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
              </svg>
            </button>&nbsp;
          </th>
          <th scope="col">
            <button class="btn btn-{{btn}} form-check form-switch" (click)="retourId(auth.id)">{{buttonText}}
              <input class="form-check-input" type="checkbox" (click)="retourId(auth.id)" role="switch"
                id="flexSwitchCheckDefault">
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- liste demande  terminer-->
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'terminer'">
  <div class="card-header">
    <strong>Liste authentfication <i class="text-primary">terminer </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Matricule</th>
          <th scope="col">Nom-Prénom</th>
          <th scope="col"> Telephone</th>
          <th scope="col">Adresse</th>

          <th scope="col">Action</th>
          <th scope="col">Etat</th>
        </tr>
      </thead>
      <tbody *ngFor="let auth of auths">
        <tr *ngIf="auth.etat==='terminer' && !auth.motifRejet">
          <th class="text-info" scope="col">{{auth.id}}</th>
          <th scope="col">{{auth.numAuthentfication}}</th>
          <th scope="col"> {{auth.prenom.substr(0, 1) | titlecase}} {{auth.nom }}</th>
          <th scope="col">{{auth.num}}</th>
          <th scope="col"><i>{{auth.adresse | titlecase}}</i></th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/authentification/editauth',auth.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
          </th>
          <th scope="col">
            <!--{{auth.etat}} {{refresh()}}-->

            <button class="btn btn-success form-check form-switch" (click)="retourId(auth.id)">
              <label class="form-check-label" for="flexSwitchCheckDefault">Terminer</label>
              <input class="form-check-input" type="checkbox" (click)="retourId(auth.id)" role="switch"
                id="flexSwitchCheckDefault">
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>






<ng-template #content let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">supprimer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    voulez-vous le supprimer !!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(supprimerAuthentification())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>



</ng-template>
