fieldset {
  /* for chrome and safari*/
 -webkit-animation-duration: .25ms;-webkit-animation-name: slidein;

  /*for firefox*/
 -moz-animation-duration: 1s;-moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 1s;-o-animation-name: slidein;

 /* Standard syntax*/
     animation-duration: 1s;animation-name: slidein;
 }


 @-moz-keyframes slidein {
  from {
      margin-right: 100%;width: 300%;
  }
  to {
      margin-right: 0%; width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-right: 100%;width: 300%;
  }

  to {
      margin-right: 0%;width: 100%;
  }
}
@keyframes slidein {
  from {
      margin-right: 100%;width: 300%;
  }

  to {
      margin-right: 0%;width: 100%;
  }
}
.btn-orange{
	background-color: orange;
}

.navbar-inverse {
  background: rgba(0, 161, 203, 0.85);

}
.navbar-inverse .navbar-toggle {
	background-color: #005f8d;

}
.navbar-inverse .navbar-toggle .icon-bar {
background-color: #005f8d;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
}
.addBg .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}
