<div class="  shadow  navbar custom-navbar navbar-inverse navbar-fixed-top" id="mainNav" role="navigation" style="margin-top: -27px;height: 85px;width: 100%; position:fixed;z-index: 1;background-color: #005f8d;">
  <!-- <fieldset> -->
    <a href="#/sk" class="navbar-brand scroll-top logo text-white"><b><img src="../../../assets/sk.png"
          style="width: 140px; margin-left: 20px; "></b>&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
          </svg></a>
  <!-- </fieldset> -->

  <ul class="nav nav-pills m-2 " id="pills-tab" role="tablist">
        <li class="nav-item">
          <c-header-nav class="ms-3">
          <ng-container *ngTemplateOutlet="userDropdown"> </ng-container>
        </c-header-nav> </li>

  </ul>
</div>
<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item" >

    <button cButton color=""   class="py-0 issa">

      <strong style="font-size: 20px;color: rgb(228, 149, 2);">{{prenom | uppercase }} {{nom | uppercase}} &nbsp;&nbsp;
      <c-avatar [caret]="false" cDropdownToggle cTextColor="primary" shape="rounded-1" size="lg" src="../../../../assets/img/avatars/0.jpg" >

      </c-avatar>
    </strong>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <!-- <li>
        <h6 cDropdownHeader class="bg-black fw-semibold py-2">Settings</h6>
      </li> -->

      <li class="issa" >

        <button (click)="logOut()" class="issa" type="button"  cDropdownItem>

          <svg cIcon class="me-2" name="cilLockLocked"></svg>
         Deconnexion
        </button>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>
