<div class="card">
  <fieldset>
  <div class="card-header text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>&nbsp;&nbsp; Utilisateur
  </div>
  <div class="d-flex flex-row align-items-center" style="padding: 10px;">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="20">
          <c-card-group>
            <c-card class="p-2 text-black">
              <c-card-body>
                <div>
                  <p><strong>id : </strong> </p>
                  <p class="card-text"><strong>Nom : </strong> </p>
                  <p class="card-text"><strong> Prenom :</strong></p>
                  <p class="card-text"><strong>Email : </strong> </p>
                  <p class="card-text"><strong> Telephone : </strong> </p>
                  <p class="card-text"><strong> Etat : </strong></p>
                </div>
              </c-card-body>
            </c-card>
            <c-card class="p-2 text-black">
              <c-card-body>
                <div>
                  <p> {{currentUser?.id}} </p>
                  <p class="card-text">{{currentUser?.nom}} </p>
                  <p class="card-text">{{currentUser?.prenom}}</p>
                  <p class="card-text">{{currentUser?.email}} </p>
                  <p class="card-text">{{currentUser?.telephone}} </p>
                  <p class="card-text" *ngIf="currentUser?.etat">Inscription validé</p>
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  </fieldset>
</div>
