<app-search></app-search>
<div class="container  shadow d-flex justify-content-center ">

<ul class="nav nav-tabs mt-3 " id="pills-tab" role="tablist">
  <li class="nav-item" style="font-weight: 700;">
    <a  class="nav-link navMg {{ courentSection === 'renouvellement' ? 'active' : ''}}"
    id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
    (click)="changeSection('renouvellement')">Renouvellements</a>
    </li>
  <li  class="nav-item" style="font-weight: 700;">
    <a  class="nav-link navMg {{ courentSection === 'toutGenre' ? 'active' : ''}}" id="pills-home-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('toutGenre')">Tout Genre</a>
    </li>
  <li  class="nav-item" style="font-weight: 700;">
    <a  class="nav-link navMg {{ courentSection === 'naissance' ? 'active' : ''}}" id="pills-home-tab"
    data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
    (click)="changeSection('naissance')">Declaration Naissance</a>
    </li>
  <li class="nav-item" style="font-weight: 700;"><a  class="nav-link navMg {{ courentSection === 'mariage' ? 'active' : ''}}" id="pills-home-tab"
  data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
  (click)="changeSection('mariage')">Declaration Mariage</a>
    </li>
  <li class="nav-item" style="font-weight: 700;">
    <a  class="nav-link navMg {{ courentSection === 'deces' ? 'active' : ''}}" id="pills-home-tab"
    data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
    (click)="changeSection('deces')">Declaration Deces</a>
  </li>


  <!-- <li class="nav-item" *ngIf="prenom">
    <a class="nav-link " id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
      aria-selected="false"><button class="btn btn-danger btn-sm  mr-1" (click)="seDeconnecter()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg>&nbsp; Deconnexion</button>
    </a>
  </li> -->

</ul>
</div>



<!-- liste demandes Renouvellements  -->
<div class="card" id="new" style="margin: 10px;" *ngIf="courentSection === 'renouvellement'">
  <fieldset>
    <div class="card-header">
      <strong>Liste des demandes <i class="text-primary">traitées</i> </strong>
    </div>
    <div class="card-body" style="text-align: center;font-size: small;">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-info" scope="col">#</th>
            <th scope="col" class="text-primary">Extrait</th>
            <th scope="col">Annee </th>
            <th scope="col"> Numero Registre</th>
            <th scope="col">Exemplaire</th>
            <th scope="col"> Date D'envoie</th>
            <th scope="col">Etat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let renouvellement of renouvellements">
          <tr *ngIf="!renouvellement?.motif ">
            <th class="text-info" scope="col">{{renouvellement?.id}}</th>
            <th scope="col">{{renouvellement?.extrait}}</th>
            <th scope="col"> {{renouvellement?.annee | date:'yyyy'}} </th>
            <th scope="col">{{renouvellement.numeroRegistre}}</th>
            <th scope="col">{{renouvellement.nombreExemplaire}}</th>
            <th scope="col">{{renouvellement.date}} </th>
            <th scope="col" class="text-warning" *ngIf="!renouvellement?.etat">En cours </th>
            <th scope="col" class="text-success" *ngIf="renouvellement?.etat">Terminée </th>
            <th>
              <button type="button" class="btn btn-info btn-sm"
                [routerLink]="['/renouvellement/detailrnuvlmnt',renouvellement?.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                  viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>&nbsp;

            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>

<div class="card" id="new" style="margin: 10px;" *ngIf="courentSection === 'toutGenre'">
  <fieldset>
    <div class="card-header">
      <strong>Liste des demandes <i class="text-primary">rejetées</i> </strong>
    </div>
    <div class="card-body" style="text-align: center;font-size: small;">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-info" scope="col">#</th>
            <th scope="col" class="text-primary">Extrait</th>
            <th scope="col">Annee </th>
            <th scope="col"> Numero Registre</th>
            <th scope="col">Exemplaire</th>
            <th scope="col"> Date D'envoie</th>
            <th scope="col">Etat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let toutgenre of toutgenres">
          <tr *ngIf="!toutgenre?.motif ">
            <th class="text-info" scope="col">{{toutgenre?.id}}</th>
            <th scope="col">{{toutgenre?.certificat}}</th>
            <th scope="col"> {{toutgenre?.annee | date:'yyyy'}} </th>
            <th scope="col">{{toutgenre.numeroRegistre}}</th>
            <th scope="col">{{toutgenre.nombreExemplaire}}</th>
            <th scope="col">{{toutgenre.date}} </th>
            <th scope="col" class="text-warning" *ngIf="!toutgenre?.etat">En cours </th>
            <th scope="col" class="text-success" *ngIf="toutgenre?.etat">Terminée </th>
            <th>
              <button type="button" class="btn btn-info btn-sm"
                [routerLink]="['/ttgenre/editttgenre',toutgenre?.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                  viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>&nbsp;

            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'naissance'">
  <fieldset>
  <div class="card-header">
    <strong>Liste declaration  <i class="text-primary">naissance </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Extrait</th>
          <th scope="col">Date Evenement</th>
          <th scope="col"> Date d'envoi</th>
          <th scope="col">Rendez-Vous</th>
          <th scope="col">Etat</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let naissance of naissances">
        <tr  *ngIf="!naissance?.motif ">

          <th class="text-info" scope="col">{{naissance?.id}}</th>
          <th scope="col" class="text-primary">{{naissance?.extrait}}</th>
          <th scope="col">{{naissance?.dateEvenement}} </th>
          <th scope="col" >{{naissance?.date}}</th>

          <th scope="col" *ngIf="!naissance?.rendezVous" class="text-warning">Pas de Rendez-Vous </th>
          <th scope="col" *ngIf="naissance?.rendezVous " >{{naissance?.rendezVous}} </th>
          <th scope="col" class="text-warning" *ngIf="naissance?.etat===true ">Terminée</th>
          <th scope="col" *ngIf="naissance?.etat===false ">En cours</th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/naissance/editnaissance',naissance.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;

          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'mariage'">
  <fieldset>
  <div class="card-header">
    <strong>Liste declaration  <i class="text-primary">mariage </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Extrait</th>
          <th scope="col">Date Evenement</th>
          <th scope="col"> Date d'envoi</th>
          <th scope="col">Rendez-Vous</th>
          <th scope="col">Etat</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let mariage of mariages">
        <tr  *ngIf="!mariage?.motif ">

          <th class="text-info" scope="col">{{mariage?.id}}</th>
          <th scope="col" class="text-primary">{{mariage?.extrait}}</th>
          <th scope="col">{{mariage?.dateEvenement}} </th>
          <th scope="col" >{{mariage?.date}}</th>

          <th scope="col" *ngIf="!mariage?.rendezVous" class="text-warning">Pas de Rendez-Vous </th>
          <th scope="col" *ngIf="mariage?.rendezVous " >{{mariage?.rendezVous}} </th>
          <th scope="col" class="text-warning" *ngIf="mariage?.etat===true ">Terminée</th>
          <th scope="col" *ngIf="mariage?.etat===false ">En cours</th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/mariage/editmariage',mariage.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;

          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

<div class="card" style="margin: 10px;" *ngIf="courentSection === 'deces'">
  <fieldset>
  <div class="card-header">
    <strong>Liste declaration  <i class="text-primary">deces </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Extrait</th>
          <th scope="col">Date Evenement</th>
          <th scope="col"> Date d'envoi</th>
          <th scope="col">Rendez-Vous</th>
          <th scope="col">Etat</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let deces of decess">
        <tr *ngIf="!deces?.motif ">
          <th class="text-info" scope="col">{{deces?.id}}</th>
          <th scope="col" class="text-primary">{{deces?.extrait}}</th>
          <th scope="col">{{deces?.dateEvenement}} </th>
          <th scope="col" >{{deces?.date}}</th>
          <th scope="col" *ngIf="!deces?.rendezVous" class="text-warning">Pas de Rendez-Vous </th>
          <th scope="col" *ngIf="deces?.rendezVous " >{{deces?.rendezVous}} </th>
          <th scope="col" class="text-warning" *ngIf="deces?.etat===true ">Terminée</th>
          <th scope="col" *ngIf="deces?.etat===false ">En cours</th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/deces/editdeces',deces.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;

          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

 <ng-template #contentClient let-modal>
  <div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">Client</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <p> nom : {{currentClient?.prenom}}</p>

    <p> prenom : {{currentClient?.nom}}</p> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info"  (click)="modal.close()"><i
        class="text-white">Fermer</i>
    </button>

  </div>

</ng-template>
