<div class="animated fadeIn">
  <div class="row justify-content-center" style="width: 95%;">
    <div class="col-sm-6">
      <div class="card shadow-lg p-3 mb-5rounded" style="background-color: aliceblue;">
        <div class="card-header">
          <legend style="text-align: center;"> <strong>Ajouter un Agent/Officier</strong></legend>
        </div>
        <form [formGroup]="agentForm">
          <div style="height: 40px;"></div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" aria-describedby="emailHelp" formControlName="nom"
              >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" formControlName="prenom" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Téléphone</label>
            <input type="tel" class="form-control"  id="telephone" formControlName="telephone" >
          </div>
          <div class="md-3">
            <label for="exampleInputPassword1" class="form-label">Guichet</label>
            <select class="form-control" formControlName="typeAgent" >
              <option value="mariage"> Mariage</option>
              <option value="naissance"> Naissance</option>
              <option value="deces"> Deces</option>
              <option value="renouvellement">Renouvellement</option>
              <option value="genre">Tout Genre</option>
               <option value="officier">Officier</option>
            </select>
          </div>
          <div class="md-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" formControlName="email"
               />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Login</label>
            <input type="text" class="form-control" id="login" formControlName="login" >
          </div>
          <div class="md-3">
            <label for="exampleInputPassword1" class="form-label">Mot De Passe</label>
            <input type="password" name="motDePasse" value="" class="form-control"formControlName="password" />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success text-white"  (click)="onSubmitForm()" [disabled]="agentForm.invalid">Submit</button>
        <span style="width: 100px;">&nbsp;&nbsp;&nbsp;</span>
        <button type="reset" class="btn btn-danger text-white">Annuler</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row justify-content-end">
      <div class="col-md-2">
        <!-- <a routerLink="/article" style="text-decoration: none;" class="btn btn-block btn-outline-primary" aria-pressed="true"> -->
        <i class="fa fa-angle-double-left"></i>
        <!-- </a> -->
      </div>
    </div>
  </div>
</div>
