<div class="card" *ngIf="currentAgent?.id && currentAgent?.typeAgent">

  <fieldset>
    <div class="d-flex flex-row align-items-center" style="padding: 10px;">
      <c-container>
        <c-row class="justify-content-center">
          <c-col md="20">
            <c-card-group>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p><strong>id : </strong> </p>
                    <p class="card-text"><strong>Nom : </strong> </p>
                    <p class="card-text"><strong> Prenom :</strong></p>
                    <p class="card-text"><strong>Email : </strong> </p>
                    <p class="card-text"><strong>Guichet </strong> </p>
                    <p class="card-text"><strong> Telephone : </strong> </p>
                    <p class="card-text"><strong> Etat : </strong></p>
                  </div>
                </c-card-body>
              </c-card>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p> {{currentAgent?.id}} </p>
                    <p class="card-text">{{currentAgent?.nom | titlecase}} </p>
                    <p class="card-text">{{currentAgent?.prenom | titlecase}}</p>
                    <p class="card-text">{{currentAgent?.email}} </p>
                    <p class="card-text">{{currentAgent?.typeAgent | titlecase}} </p>
                    <p class="card-text">{{currentAgent?.telephone | titlecase}} </p>
                    <p class="card-text" *ngIf="currentAgent?.etat">Bloquer</p>
                    <p class="card-text" *ngIf="!currentAgent?.etat">Non bloquer</p>
                  </div>
                </c-card-body>
              </c-card>
            </c-card-group>
          </c-col>
        </c-row>
      </c-container>
    </div>
  </fieldset>
  <div class="card-footer"  style="text-align: center;">
    <button type="button" *ngIf="currentAgent?.etat===true && userConnect!='officier'" class="btn btn-success text-white" (click)="recupererAgent()">Recuperer</button>
    <button type="button" *ngIf="currentAgent?.etat===false && userConnect!='officier'" class="btn btn-danger text-white" (click)="open(content,'agent')">Supprimer</button>

  </div>
</div>



     <!-- Officier -->

<div class="card" *ngIf="currentOfficier?.id && officier">
  <div class="card-header text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill"
      viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
    </svg>&nbsp;&nbsp; Officier
  </div>
  <fieldset>
    <div class="d-flex flex-row align-items-center" style="padding: 10px;">
      <c-container>
        <c-row class="justify-content-center">
          <c-col md="20">
            <c-card-group>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p><strong>id : </strong> </p>
                    <p class="card-text"><strong>Nom : </strong> </p>
                    <p class="card-text"><strong> Prenom :</strong></p>
                    <p class="card-text"><strong>Email : </strong> </p>
                    <p class="card-text"><strong>Role </strong> </p>
                    <p class="card-text"><strong> Telephone : </strong> </p>
                    <p class="card-text"><strong> Etat : </strong></p>
                  </div>
                </c-card-body>
              </c-card>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p> {{currentOfficier?.id}} </p>
                    <p class="card-text">{{currentOfficier?.nom | titlecase}} </p>
                    <p class="card-text">{{currentOfficier?.prenom | titlecase}}</p>
                    <p class="card-text">{{currentOfficier?.email}} </p>
                    <p class="card-text">Officier </p>
                    <p class="card-text">{{currentOfficier?.telephone | titlecase}} </p>
                    <p class="card-text" *ngIf="currentOfficier?.etat">Bloquer</p>
                    <p class="card-text" *ngIf="!currentOfficier?.etat">Non bloquer</p>
                  </div>
                </c-card-body>
              </c-card>
            </c-card-group>
          </c-col>
        </c-row>
      </c-container>
    </div>
  </fieldset>
  <div class="card-footer"  style="text-align: center;">
    <button type="button" *ngIf="currentOfficier?.etat===true" class="btn btn-success text-white" (click)="recupererOfficier()">Recuperer</button>
    <button type="button" *ngIf="currentOfficier?.etat===false" class="btn btn-danger text-white" (click)="open(content,'officier')">Supprimer</button>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">supprimer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    voulez-vous le supprimer !!
  </div>
  <div class="modal-footer" *ngIf="currentAgent?.id && currentAgent?.typeAgent">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(supprimerAgent())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>
  <div class="modal-footer" *ngIf="currentOfficier?.id && officier">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(supprimerOfficier())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>


</ng-template>
