<div class="md-4">
  <header>
    <div class="row justify-content-center">
      <div class="md-6">
        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="bonjour">
            <span>
              <button type="button" [routerLink]="['/sk']" class="btn btn-secondary text-white"
                style="margin-right: 25px;"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                  fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                </svg></button>
              Comment ça marche ?

            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>



<div class="md-4  justify-content-center" style="margin-top: 45px;margin-bottom: 45px;">
  <header>
    <ul class="nav nav-tabs mt-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" style="font-weight: 700;font-size: large;">
        <a class="nav-link navMg {{ courentSection === 'declaration' ? 'active' : ''}}" id="pills-home-tab"
          data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
          (click)="changeSection('declaration')">Declaration </a>
      </li>
      <li class="nav-item" style="font-weight: 700;">
        <a class="nav-link navMg {{ courentSection === 'renouvellement' ? 'active' : ''}}" id="pills-home-tab"
          data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
          (click)="changeSection('renouvellement')">Renouvellements</a>
      </li>
      <li class="nav-item" style="font-weight: 700;">
        <a class="nav-link navMg {{ courentSection === 'toutGenre' ? 'active' : ''}}" id="pills-home-tab"
          data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
          (click)="changeSection('toutGenre')">Tout Genre</a>
      </li>

      <!-- <li class="nav-item" *ngIf="prenom">
            <a class="nav-link " id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
              aria-selected="false"><button class="btn btn-danger btn-sm  mr-1" (click)="seDeconnecter()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg>&nbsp; Deconnexion</button>
            </a>
          </li> -->

    </ul>

  </header>
</div>

<!-- Declaration naissance-->
<div *ngIf="courentSection === 'declaration'">
  <div class="md-8">

    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Déclaration de Naissance</h2>
        <p class="designation">Il est obligatoire de déclarer les naissances auprès de
          l’officier de l’état civil aux fins d’enregistrement dans les registres de
          naissance. Cette déclaration permet à la personne de devenir un citoyen.La
          déclaration de naissance permet d'obtenir immédiatement et gratuitement le volet
          n° 1 de l'acte de naissance et l'inscription de la naissance sur le livret de
          famille.
      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/naissance.jpg" style="width: 300px" alt="">


        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut déclarer un enfant ?</strong></h2>
          <ul>
            <li>Le père ou la mère</li>
            <li>Les ascendants ou les proches parents</li>
            <li>Le médecin, l'infirmier, la sage-femme ou la matrone</li>
            <li>Le procureur de la république</li>
          </ul>
          <h2> <strong>Quand faire la déclaration ?</strong></h2>
          <ul>
            Du jour de la naissance au 45ème jour, la déclaration est dite
            <strong>normale</strong>. Du 45ème jour à un an elle est appelée déclaration
            <strong>tardive</strong>. Au-delà d'un an, il faut un <strong>jugement
              d'autorisation d'inscription</strong> auprès du tribunal.<br>
            <br>
            <u><strong>NB</strong></u>: Le procureur de la république peut à toute
            époque, et en dehors des délais prévus, faire la déclaration d'une naissance
            dont il aurait eu connaissance et qui n'aurait pas été constatée par
            l'officier de l'état civil.<br>
            <u><strong>NB</strong></u> : Le chef de village ou le délégué de quartier
            ont l'obligation dans
            les 15 jours de faire à l'officier d'état civil les déclarations de
            naissance omises dans le délai d'un mois.
          </ul>
        </div>

      </div>
      <!-- Team Details-->
    </div>
  </div>
  <!-- Declaration Mariage-->
  <div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Déclaration de Mariage</h2>
        <p class="designation">Le mariage est un acte solennel par lequel un homme et une femme établissent entre
          eux une union dont les conditions, les effets et la dissolution sont régis par le Code civil. Une fois
          le mariage célébré, il faut se rendre au niveau de l'état civil pour la déclaration.
      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/mariage.jpg" style="width: 300px" alt="">

        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut déclarer un mariage ?</strong></h2>
          <ul>
            <li>Ce type de ddeclaration requiert la présence des 2 concernés</li>
            <li>NB: 4 temoins(2 de chaque côtés) </li>
          </ul>
          <h2><strong>Quand déclarer ?</strong></h2>
          <ul>
            Du jour du mariage au 45ème jour, la déclaration est dite
            <strong>normale</strong>. Du 45ème jour à un an elle est appelée déclaration
            <strong>tardive</strong>. Au-delà d'un an, il faut un <strong>jugement
              d'autorisation d'inscription</strong> auprès du tribunal.<br>

          </ul>
        </div>
      </div>
      <!-- Team Details-->

    </div>
  </div>

  <!-- Declaration deces-->
  <div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Déclaration de Décès</h2>
        <p class="designation">Au décès d'une personne, il est obligatoire de porter son
          décès à la connaissance de l’officier de l'état civil aux fins d’enregistrement
          dans les registres d'actes de décès.La déclaration de décès permet d'obtenir
          immédiatement et gratuitement la délivrance du volet n° 1 de l'acte de décès.

      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/deces1.jpg" style="width: 300px" alt="">

        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut déclarer un décès ?</strong></h2>
          <ul>
            <li>Les proches parents du défunt ou toute autre personne possédant sur
              l'état civil<br> du défunt les renseignements nécessaires à
              l'établissement de l'acte de décès.</li>
            <li>Le chef de village ou le délégué de quartier</li>
            <li>Les autorités administratives ou judiciaires</li>
            <u><strong>NB</strong></u>: De 30 à 45 jours après le décès, les délégués de
            quartier ou les chefs de village sont tenus de faire à l'officier de l'état
            civil les déclarations omises par les parents.<br>

          </ul>
          <h2><strong>Quand déclarer ?</strong></h2>
          <ul>
            Du jour de la naissance au 45ème jour, la déclaration est dite
            <strong>normale</strong>. Du 45ème jour à un an elle est appelée
            <strong>déclaration tardive</strong>. Du jour du décès à un an après le
            décès. Lorsque la déclaration de décès est faite au-delà du 45ème jour.
            Au-delà d'un an, il faut demander un <strong>jugement d'autorisation
              d'inscription</strong> auprès du tribunal.
          </ul>

        </div>
      </div>
      <!-- Team Details-->
    </div>
  </div>
</div>
<div>

  <div *ngIf="courentSection === 'renouvellement'">

    <div class="md-6">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
          <h2>Extrait de Naissance</h2>
          <p class="designation">L'extrait de naissance renseigne, d'une part, sur le centre
            d’enregistrement, le numéro et l’année de l’acte et, le cas échéant sur le
            numéro,
            la date et l’année de délivrance du jugement d'autorisation de transcription de
            l'acte, ainsi que sur les changements intervenus sur le statut de la personne.
            Il
            renseigne, d'autre part, sur le sexe, le(s) prénom(s) et nom de la personne, sur
            l’année, la date, l’heure et le lieu de sa naissance et sur sa filiation.
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/naissance.jpg" style="width: 300px" alt="">


          <!-- Social Info-->
          <div class="social-info">
            <h2><strong>Qui peut faire la demande ?</strong></h2>
            <ul>
              <li>La personne elle-même ou toute personne intéressée</li>
              <li>Les autorités administratives et judiciaires</li>
            </ul>
            <ul>
              <h2><strong>Quelles sont les documents à fournir ?</strong></h2>
              La personne doit se présenter avec l'une des pièces suivantes :
            </ul>
            <ul>
              <li>Le volet n° 1 de l'acte de naissance</li>
              <li>Une copie littérale d'acte de naissance</li>
              <li>Un ancien extrait du registre des actes de naissance</li>
              <li>Le livret de famille</li>
              <li>Toute information renseignant sur l'identité de la personne<br>(année et
                numéro d'enregistrement dans le registre des naissances par exemple).
              </li>
            </ul>


          </div>
        </div>
        <!-- Team Details-->

      </div>
    </div>
    <!-- Declaration Mariage-->
    <div class="md-6">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
          <h2>Certificat de Mariage</h2>
          <p class="designation">Le certificat de mariage est une pièce d'état civil attestant
            de
            l'union entre un homme et une femme.
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/mariage.jpg" style="width: 300px" alt="">

          <!-- Social Info-->
          <div class="social-info">
            <h2><strong>Qui peut faire la demande ?</strong></h2>
            <ul>
              <li>Chacun des conjoints</li>
              <li>Les héritiers ou ayants cause</li>
              <li>Toute autorité administrative ou judiciaire</li>
              <li>Toute personne autorisée sur décision judiciaire</li>
            </ul>
            <h2><strong>Quels sont les documents à fournir ?</strong></h2>
            Une des pièces suivantes :
            <ul>
              <li>Le volet n° 1 de l'acte de mariage</li>
              <li>Le livret de famille</li>
              <li>Une ancienne copie de l'acte de mariage</li>
              <li>NB : Le demandeur peut également fournir les références de l'acte de
                mariage
                (date, n° de l'acte, etc.).</li>

            </ul>


          </div>
        </div>
        <!-- Team Details-->

      </div>
    </div>
    <!-- Declaration deces-->
    <div class="md-6">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
          <h2>Bulletin de Décès</h2>
          <p class="designation">Le bulletin de décès est la reproduction succincte de l’acte
            de
            décès. Il renseigne sur le centre d’enregistrement de l’acte, la filiation de
            l’intéressé, la date et le lieu du décès.
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/deces1.jpg" style="width: 300px" alt="">

          <!-- Social Info-->
          <div class="social-info">
            <h2><strong>Qui peut faire la demande ?</strong></h2>
            <ul>
              <li>Les proches parents ou les ayants cause</li>
              <li>Les autorités administratives ou judiciaires (procureur de la
                République,
                etc.)</li>
            </ul>
            <ul>
              <h2><strong>Quels sont les documents à présenter ?</strong></h2>

              Présenter l'une des pièces suivantes :
            </ul>
            <ul>
              <li>Un extrait de décès</li>
              <li>Un ancien bulletin de décès</li>
              <li>Le livret de famille</li>
              <li>Le volet n °1 de l'acte de décès</li>
              <li>L'année et le numéro de l'acte d'enregistrement du décès sur les
                registres
                de l'état civil</li>
            </ul>


          </div>
        </div>
        <!-- Team Details-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="courentSection === 'toutGenre'">
  <!-- Obtention papier tout genre-->

  <!-- Certificat de résidence-->

  <div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Certificat de residence</h2>
        <p class="designation">Le certificat de résidence atteste qu'une personne réside
          effectivement dans une
          localité donnée. Il est demandé pour l'établissement de certains documents
          (carte nationale d'identité, casier judiciaire, etc.).
      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/residence.jpg" style="width: 300px" alt="">


        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut demander un certificat de résidence ?</strong></h2>
          <ul>Toute personne résidant au Sénégal de manière permanente peut se faire
            délivrer
            un certificat de
            résidence. La présence physique de l'intéressé n'est pas obligatoire et il
            peut
            se faire représenter par
            une autre personne dûment mandatée pour effectuer la demande.
          </ul>
          <h2><strong>Quels sont les documents à fournir ?</strong></h2>
          <ul>
            La personne doit se présenter avec :
          </ul>

          <ul>
            <li>Un certificat de domicile ou un justificatif de domicile<br>(facture
              d'électricité, d'eau ou de
              téléphone fixe)</li>
            <li>L'original de sa carte nationale d'identité.</li>
            <li><strong>NB :</strong> Les étrangers doivent présenter leur carte
              d'identité
              d'étranger.</li>
          </ul>


        </div>
      </div>
      <!-- Team Details-->

    </div>
  </div>

  <!-- Certificat de vie collectif-->

  <div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Certificat de vie collectif</h2>
        <p class="designation">Le certificat de vie collectif est un document permettant
          d'attester que les enfants
          mineurs d'une personne sont vivants et qu'ils sont à sa charge.
      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/coll.jpg" style="width: 300px" alt="">


        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut demander un certificat de vie collectif ?</strong></h2>
          <ul>Seul le père, la mère ou le tuteur d'un enfant mineur est permis de faire la
            demande d'un certificat de
            vie collectif.</ul>
          <h2><strong>Quels sont les documents à fournir ?</strong></h2>
          <ul>
            La personne doit se présenter avec l'un
            des documents ci-dessous :
          </ul>
          <ul>
            <li>Le livret de famille</li>
            <li>Un extrait du registre des actes de naissance de chaque enfant</li>
            <li>Un bulletin de naissance de chaque enfant</li>
          </ul>


        </div>
      </div>
      <!-- Single Advisor-->

    </div>
  </div>

  <!--Certificat de vie individuel-->

  <div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Certificat de vie individuel</h2>
        <p class="designation">Le certificat de vie individuel est une pièce administrative,
          délivrée par l’officier
          de l’état civil, pour attester qu’une personne est bien vivante.
      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/indiv.jpg" style="width: 300px" alt="">


        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut demander un certificat de vie individuel ?</strong></h2>
          <ul>Toute personne intéréssée peut faire la demande</ul>
          <h2><strong>Quels sont les documents à fournir ?</strong></h2>
          <ul>
            La personne doit se présenter avec l'une
            des pièces suivantes:
          </ul>
          <ul>
            <li>Une piéce d'identité</li>
            <li>Un extrait du registre des actes de naissance</li>
            <li>Un bulletin de naissance</li>
            <li>Ou toute pièce attestant l'identité de la personne (passeport)</li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!--Certificat de Célibat-->

  <div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
      style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
      <div class="single_advisor_details_info">
        <h2>Certificat de Célibat</h2>
        <p class="designation">Le certificat de célibat est un document ayant pour
          objectif
          de prouver la situation matrimoniale (célibataire) de son détenteur.
      </div>
      <div class="advisor_thumb"><img src="./../../../../assets/celibat.jpg" style="width: 300px" alt="">


        <!-- Social Info-->
        <div class="social-info">
          <h2><strong>Qui peut demander un certificat de célibat ?</strong></h2>
          <ul>Toute personne intéréssée ou son mandataire peut faire la demande
          </ul>
          <h2><strong>Quels sont les documents à fournir ?</strong></h2>
          <ul>
            La personne doit se présenter avec
            l'une des pièces suivantes:
          </ul>
          <ul>
            <li>Une piéce d'identité</li>
            <li>Un extrait du registre des actes de naissance</li>
            <li>Un bulletin de naissance</li>
            <li>Ou toute pièce attestant l'identité de la personne (passeport)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>