<app-search></app-search>
<div class="container  shadow d-flex justify-content-center ">
  <!-- nav options -->
  <ul class="nav nav-pills m-2 shadow-sm" id="pills-tab" role="tablist" style="background-color: white;">
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'enCour' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('enCour')">En cours</a> </li>
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'terminer' ? 'active' : ''}}" id="pills-contact-tab"
        data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false"
        (click)="changeSection('terminer')">Terminées</a> </li>
  </ul> <!-- content -->
</div>
<!-- liste demandes  -->
<div class="card" id="new" style="margin: 10px;" *ngIf="courentSection === 'enCour'">
  <fieldset>
  <div class="card-header">
    <strong>Liste <i class="text-primary">demande</i> de renouvellement </strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col" class="text-primary">Extrait</th>
          <th scope="col">Annee </th>
          <th scope="col"> Numero Registre</th>
          <th scope="col">Exemplaire</th>
          <th scope="col"> Date D'envoie</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let renouvellement of renouvellements">
        <tr *ngIf="!renouvellement?.motif && renouvellement?.etat===false" >
          <th class="text-info" scope="col">{{renouvellement?.id}}</th>
          <th scope="col" >{{renouvellement?.extrait}}</th>
          <th scope="col" > {{renouvellement?.annee | date:'yyyy'}} </th>
          <th scope="col">{{renouvellement.numeroRegistre}}</th>
          <th scope="col">{{renouvellement.nombreExemplaire}}</th>
          <th scope="col">{{renouvellement.date}} </th>

          <th>
            <button type="button" class="btn btn-info btn-sm"  [routerLink]="['/renouvellement/editrnuvlmnt',renouvellement?.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button  type="button" class="btn btn-danger btn-sm"  (click)="open(content,renouvellement?.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
            </svg>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

<!-- liste demandes terminees  -->
<div class="card" id="new" style="margin: 10px;"  *ngIf="courentSection === 'terminer'">
  <fieldset>
  <div class="card-header">
    <strong>Liste des demandes <i class="text-primary">traitées</i>  </strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col" class="text-primary">Extrait</th>
          <th scope="col">Annee </th>
          <th scope="col"> Numero Registre</th>
          <th scope="col">Exemplaire</th>
          <th scope="col">Code retrait</th>
          <th scope="col">Etat retrait</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let renouvellement of renouvellements">
        <tr *ngIf="!renouvellement?.motif && renouvellement?.etat===true" >
          <th class="text-info" scope="col">{{renouvellement?.id}}</th>
          <th scope="col" >{{renouvellement?.extrait}}</th>
          <th scope="col" > {{renouvellement?.annee | date:'yyyy'}} </th>
          <th scope="col">{{renouvellement.numeroRegistre}}</th>
          <th scope="col">{{renouvellement.nombreExemplaire}}</th>
          <th scope="col">{{renouvellement.date | date:'dd'}}{{renouvellement?.id}}</th>
          <th>
            <button type="button" class="btn btn-danger btn-sm" *ngIf="!renouvellement?.etatRetrait"  (click)="etatRetrairRenouvellement(renouvellement?.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle2-off" viewBox="0 0 16 16">
                <path d="M9 11c.628-.836 1-1.874 1-3a4.978 4.978 0 0 0-1-3h4a3 3 0 1 1 0 6H9z"/>
                <path d="M5 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 5 3a5 5 0 0 0 0 10z"/>
              </svg>
            </button>
            <button  type="button" class="btn btn-warning btn-sm"  *ngIf="renouvellement?.etatRetrait"  (click)="etatRetrairRenouvellement(renouvellement?.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle2-on" viewBox="0 0 16 16">
                <path d="M7 5H3a3 3 0 0 0 0 6h4a4.995 4.995 0 0 1-.584-1H3a2 2 0 1 1 0-4h3.416c.156-.357.352-.692.584-1z"/>
                <path d="M16 8A5 5 0 1 1 6 8a5 5 0 0 1 10 0z"/>
              </svg>
            </button>
          </th>
          <th>
            <button type="button" class="btn btn-info btn-sm"  [routerLink]="['/renouvellement/detailrnuvlmnt',renouvellement?.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button  class="btn btn-success  btn-sm" (click)="nonterminerRenouvellement(renouvellement?.id)" >
              Terminer
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>



<ng-template #content let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">supprimer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="rvForm1">
    <div class="mb-3">
      <div class="mb-3">
        <label>Donnez Motif  </label>
        <div class="input-group">
          <div class="input-group-apprend">
            <input type="text" formControlName="motifRejet">
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"  (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" [disabled]="rvForm1.invalid" (click)="modal.close(supprimerRenouvellement())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>

</ng-template>


<!-- <ng-template #contentClient let-modal>
  <div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">Client</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p> nom : {{currentClient?.prenom}}</p>

    <p> prenom : {{currentClient?.nom}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info"  (click)="modal.close()"><i
        class="text-white">Fermer</i>
    </button>

  </div>

</ng-template> -->
