<div class="row">
  <div class="col-md-12 col-md-offset-3">
    <form id="msform">
      <!-- progressbar -->
      <ul id="progressbar">
        <li [ngClass]="step>=1 ? 'active ' : 'inactive'"></li>
        <li [ngClass]="step>=2 ? 'active' : 'inactive'"></li>
        <li [ngClass]="step==3 ? 'active' : 'inactive'"></li>
      </ul>
      <!-- fieldsets -->

      <fieldset *ngIf="step == 1">
        <span>
        <button type="button" [routerLink]="['/sk']" class="btn btn-secondary text-white" style="margin-right: 25px;"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg></button>
        <strong class="fs-title">Choisir Guichet</strong>
      </span>
        <!-- <input type="text" formControlName="name"   placeholder="Full Name"/>
              <div >
                  <div >Name is required</div>
              </div>
              <input type="text" formControlName="email" name="email" placeholder="Email"/>
              <div >
                <div >Email is required</div>
             </div>
              <input type="text" formControlName="phone" name="phone" placeholder="Phone"/>
              <div >
                <div >Phone is required</div>
            </div> -->

        <div style="padding: 20px;margin-top: 10px;">
          <div class="row" style="margin: 5px;">
            <div class="col-md-4 text-center c4 ">

              <strong>Déclaration</strong><br>
              <input (click)="chargerGuichet('declaration')" (click)="next()" type="button" name="next"
                class="next action-button" value="Declarer" />
            </div>
            <div class="col-md-4 text-center c3">
              <strong>Renouvellement</strong><br>
              <input (click)="chargerGuichet('renouvellement')" (click)="next()" type="button" name="next"
                class="next action-button" value="Renouveller" />
            </div>
            <div class="col-md-4 text-center c4">
              <strong>Tout Genre</strong><br>
              <input (click)="chargerGuichet('tout genre')" (click)="next()" type="button" name="next"
                class="next action-button" value="Obtenir" />
            </div>
            <!-- <div class="col-md-4 text-center c3">
              <strong>Authentification</strong><br>
              <input (click)="chargerGuichet('authentification')" (click)="next()" type="button" name="next"
                class="next action-button" value="Authentifier" />
            </div> -->
          </div>
        </div>
        <div class="" style="padding-top: 20px">
          <img src="../../../assets/sk.png" width="300px">
        </div>
      </fieldset>

    </form>
    <form id="msform">
      <fieldset *ngIf="step == 2">
        <button type="button" [routerLink]="['/sk']" class="btn btn-secondary text-white" style="margin-right: 25px;"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg></button>
        <strong class="fs-title">Choisir Papier</strong><br>
        <div *ngIf="guichet==='declaration' || guichet==='renouvellement'" class="row" style="margin: 5px;">
          <div class="col-md-4 text-center c4 ">
            <strong>Naissance</strong><br>
            <input (click)="chargerPapier('Naissance')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
          <div class="col-md-4 text-center c3">
            <strong>Mariage</strong><br>
            <input (click)="chargerPapier('Mariage')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
          <div class="col-md-4 text-center c4">
            <strong>Deces</strong><br>
            <input (click)="chargerPapier('Deces')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
        </div>
        <div *ngIf="guichet==='tout genre'" class="row" style="margin: 5px;">
          <div class="col-md-3 text-center c4 ">
            <strong>Residence</strong><br>
            <input (click)="chargerPapier('Residence')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
          <div class="col-md-3 text-center c3">
            <strong>Vie collectif</strong><br>
            <input (click)="chargerPapier('vie collectif')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
          <div class="col-md-3 text-center c4">
            <strong>Vie individuel</strong><br>
            <input (click)="chargerPapier('vie individuelle')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
          <div class="col-md-3 text-center c3">
            <strong>Celibat</strong><br>
            <input (click)="chargerPapier('celibat')" (click)="next()" type="button" name="next"
              class="next action-button" value="Choisir" />
          </div>
        </div>
        <div *ngIf="guichet==='authentification'" class="row" style="margin: 5px;">
          authentification
        </div>



          <div class="" style="padding-top: 20px">
            <img src="../../../assets/sk.png" width="300px">
          </div>
          <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
          value="Précedent" />
      </fieldset>
    </form>
    <form [formGroup]="validation" id="msform">
      <fieldset *ngIf="step == 3">
        <button type="button" [routerLink]="['/sk']" class="btn btn-secondary text-white" style="margin-right: 25px;"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg></button>
        <strong class="fs-title">Nouvelle Demande</strong>
        <div class="row">
          <div class="inner col-md-6" *ngIf="guichet==='declaration'">
            <div class="form-row">
              <div class="form-holder form-holder-2" style="padding-top: 100px">
                <label for="exampleInputEmail1" class="form-label">Date {{extrait |titlecase}}</label>
                <input type="date" class="form-control" id="dateCeremonie" formControlName="dateCeremonie">
              </div>
            </div>
          </div>
          <div class="inner col-md-6" *ngIf="guichet==='tout genre' && extrait==='Residence'">
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Nombre d'exemplaire</label>
                <input type="number" class="form-control" id="exemplaire" formControlName="exemplaire" value="1">
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Numéro registre</label>
                <input type="number" class="form-control" id="numeroRegistre" formControlName="numeroRegistre">
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Année</label>
                <input type="text" class="form-control" id="annee" formControlName="annee">
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Adresse</label>
                <input type="text" class="form-control" id="adresse" formControlName="adresse">
              </div>
            </div>
          </div>
          <div class="inner col-md-6" *ngIf="guichet==='renouvellement'">
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Nombre d'exemplaire</label>
                <input type="number" class="form-control" id="exemplaire" formControlName="exemplaire" value="1">
              </div>
            </div>

            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Numéro registre</label>
                <input type="text" class="form-control" id="numeroRegistre" formControlName="numeroRegistre">
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder form-holder-2">
                <label for="exampleInputEmail1" class="form-label">Année</label>
                <input type="text" class="form-control" id="annee" formControlName="annee"><br>
                <p> <strong>Timbre : 300 fcfa</strong></p>
              </div>
            </div>

          </div>
          <div class="col-md-6" *ngIf="guichet==='authentification'">
            <h3>partie authentification</h3>
          </div>
          <div class="col-md-6" style="padding-top: 100px">
            <img src="../../../assets/sk.png" width="300px">
          </div>
        </div>
        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous"
          value="Précedent" />
        <button (click)="onSubmitForm(content)" type="submit" class="submit action-button" [disabled]="validation.invalid">
          Soumettre</button>
      </fieldset>
    </form>

  </div>
</div>


 <ng-template #content let-modal>
  <div >
    <div class="modal-header bg-danger text-white">
      <h4 class="modal-title" id="modal-basic-title">Date Incorrecte</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      Veuillez renseigner une date
    </div>
  </div>
</ng-template>
