
/*form styles*/
#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
// #msform input, #msform textarea {
//   padding: 15px;
//   border: 1px solid #ccc;
//   border-radius: 0px;
//   margin-bottom: 10px;
//   width: 100%;
//   box-sizing: border-box;
//   font-family: montserrat;
//   color: #2C3E50;
//   font-size: 13px;
// }

#msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(255, 138, 4, 0.9);;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: rgba(255, 138, 4, 0.9);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover {
  background: rgba(0, 43, 54, 0.89);
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3  rgba(255, 138, 4, 0.9);;
}

#msform .action-button-previous {
  width: 100px;
  background: rgba(0, 43, 54, 0.89);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: rgba(255, 138, 4, 0.9);
  color: white;
}
.c3 {
	background: rgba(0, 43, 54, 0.89);
	padding: 15px;
  color: white;

}
.c4 {
	background: rgba(0, 43 , 54, 0.83);
	padding: 15px;
  color: white;

}
.c3:hover, .c4:hover {
	background: rgba(255, 138, 4, 0.9);
	cursor: pointer;
  color: white;
}

#progressbar li.inactive:before{
  background: burlywood;
  color: #000;

}

fieldset {
 /* for chrome and safari*/
-webkit-animation-duration: .25ms;-webkit-animation-name: slidein;

 /*for firefox*/
-moz-animation-duration: 1s;-moz-animation-name: slidein;

 /* for opera*/
 -o-animation-duration: 1s;-o-animation-name: slidein;

/* Standard syntax*/
    animation-duration: 1s;animation-name: slidein;
}

 @-webkit-keyframes slidein {
      from { margin-right:100%;width:300%;}
      to { margin-right: 0%;width: 100%;           }
}

@-moz-keyframes slidein {
         from {
             margin-left: 100%;width: 300%;
         }
         to {
             margin-left: 0%; width: 100%;
         }
  }
@-o-keyframes slidein {
         from {
             margin-left: 100%;width: 300%;
         }

         to {
             margin-left: 0%;width: 100%;
         }
}
@keyframes slidein {
         from {
             margin-left: 100%;width: 300%;
         }

         to {
             margin-left: 0%;width: 100%;
         }
}



.inner .form-row {
  display: flex;
  margin: 0 -10px;
  position: relative;
  text-align: left;
}
.inner .form-row .form-holder {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
  position: relative;
}
.inner .form-row .form-holder.form-holder-2 {
  width: 53.6%;
position: relative;
}
.inner .form-row .form-holder label {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  display: block;
}
.inner .form-row .form-holder input {
  width: 100%;
  // height: 40px;
  margin-left: 25px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.inner .form-row .form-holder select {
color: #666;
font-size: 15px;
font-weight: 500;
background: 0 0;
  z-index: 1;
  cursor: pointer;
  position: relative;
}
.inner .form-row .form-holder .select-btn {
  z-index: 0;
  position: absolute;
  top: 55%;
  right: 8%;
  font-size: 18px;
  cursor: pointer;
  color: #666;
}
