<app-search></app-search>
<div class="container  shadow d-flex  ">
  <ul   class="nav nav-pills nav-fill m-2 shadow-sm" id="pills-tab" role="tablist" style="background-color: white;">
    <li  data-toggle="agent" title="Liste des agents archivés"class="nav-item"> <a class="nav-link {{ courentSection === 'agent' ? 'active' : ''}}" id="pills-home-tab"
        data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" (click)="changeSection('agent')">
        Agents</a> </li>
    <li data-toggle="officier" title="Liste des officiers archivés " class="nav-item"> <a class="nav-link {{ courentSection === 'officier' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('officier')">Officiers</a> </li>
    <!-- <li class="nav-item"> <a class="nav-link {{ courentSection === 'administrateur' ? 'active' : ''}}"
        id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false"
        (click)="changeSection('administrateur')">Administrateurs</a> </li> -->
  </ul>
</div>
<div class="card" *ngIf="courentSection === 'agent'">
  <div class="card-body bg-white" style="text-align: center;">
    <fieldset>
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-info">
            <th class="text-info" scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Guichet</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="font-size: 13px;" *ngFor="let agent of agents">
          <tr *ngIf="agent.etat===true">
            <th class="text-info" scope="col">{{agent.id }}</th>
            <th scope="col"> {{agent.prenom | titlecase }} </th>
            <th scope="col">{{agent.nom | titlecase }} </th>
            <th scope="col"><strong>{{agent.telephone }}</strong></th>
            <th scope="col">{{agent.typeAgent | uppercase}}</th>
            <th>
              <button   data-toggle="agent" title="editer" type="button" class="btn btn-success btn-sm" [routerLink]="['/agent/detailagent',agent.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
              </button>&nbsp;
              <!-- <button type="button" class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button> -->
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>


</div>




<div class="card" *ngIf="courentSection === 'officier'">
  <fieldset>
    <div class="card-body" style="text-align: center;">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-info">
            <th class="text-info" scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="font-size: 13px;" *ngFor="let officier of officiers">
          <tr *ngIf="officier.etat===true">
            <th class="text-info" scope="col">{{officier.id }}</th>
            <th scope="col"> {{officier.prenom | titlecase }} </th>
            <th scope="col">{{officier.nom | titlecase }} </th>
            <th scope="col"><strong>{{officier.telephone }}</strong></th>
            <th scope="col">{{officier.email }}</th>
            <th>
              <button data-toggle="agent" title="editer" type="button" class="btn btn-success btn-sm" [routerLink]="['/agent/detailagent',officier.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
              </button>&nbsp;
              <!-- <button type="button" class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button> -->
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>



<!-- Administrateur -->



<!-- <div class="card" *ngIf="courentSection === 'administrateur'">
  <div class="card-header" style="text-align: right;">
    <button type="button" class="btn btn-success btn-sm" style="color: rgb(255, 255, 255);"
      [routerLink]="['/agent/addagent']">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-plus"
        viewBox="0 0 16 16">
        <path
          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        <path fill-rule="evenodd"
          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
      </svg>
    </button>
  </div>
  <fieldset>
    <div class="card-body" style="text-align: center;">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-info">
            <th class="text-info" scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="font-size: 13px;" *ngFor="let administrateur of administrateurs">
          <tr *ngIf="administrateur.etat===true">
            <th class="text-info" scope="col">{{administrateur.id }}</th>
            <th scope="col"> {{administrateur.prenom | titlecase }} </th>
            <th scope="col">{{administrateur.nom | titlecase }} </th>
            <th scope="col"><strong>{{administrateur.telephone }}</strong></th>
            <th scope="col">{{administrateur.email}}</th>
            <th>
              <button type="button" class="btn btn-success btn-sm" [routerLink]="['/agent/detailagent',administrateur.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
              </button>&nbsp;


          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div> -->




<!-- <a href="#" data-toggle="agent" title="Some tooltip text!">Hover over me</a> -->

<!-- Generated markup by the plugin -->
<div class="tooltip bs-tooltip-top" role="agent">
  <div class="arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>

<div class="tooltip bs-tooltip-top" role="officier">
  <div class="arrow"></div>
  <div class="tooltip-inner">
    Some tooltip text!
  </div>
</div>
