<div class="card">
  <div class="card-header">
    Demande d'authentfication
  </div>
  <div class="d-flex flex-row align-items-center" style="padding: 10px;">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="20">
          <c-card-group>
            <c-card class="p-2 text-black">
              <c-card-body>

                  <p><strong>id : </strong> </p>
                  <p class="card-text"><strong>Numero : </strong> </p>
                  <p class="card-text"><strong> Expediteur :</strong></p>
                  <p class="card-text"><strong>Adresse : </strong> </p>
                  <p class="card-text"><strong> Telephone : </strong> </p>
                  <p class="card-text"><strong> Date D'envoie : </strong></p>
                  <p class="card-text" *ngIf="currentAuth.dateRv"><strong> Date RV : </strong></p>
                  <p class="card-text" *ngIf="currentAuth.motifRejet"><strong> Motif Rejet : </strong></p>


              </c-card-body>
            </c-card>
            <c-card class="p-2 text-black">
              <c-card-body>

                  <p> {{currentAuth.id}} </p>
                  <p class="card-text">{{currentAuth.numAuthentfication}} </p>
                  <p class="card-text">{{currentAuth.prenom}} {{currentAuth.nom}}</p>
                  <p class="card-text">{{currentAuth.adresse}} </p>
                  <p class="card-text">{{currentAuth.num}} </p>
                  <p class="card-text">{{currentAuth.dateDebut | date}} à {{currentAuth.dateDebut| date:'shortTime'}}
                  </p>
                  <p class="card-text" *ngIf="currentAuth.dateRv">{{currentAuth.dateRv | date}} à
                    {{currentAuth.dateDebut| date:'shortTime'}}
                  </p>
                  <p class="card-text" *ngIf="currentAuth.motifRejet">{{currentAuth.motifRejet}}</p>


              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  <div class="card-footer text-white align-items-center">
    <button type="button" class="btn btn-info" (click)="open(content,'fixer')"
      *ngIf="!currentAuth.dateRv && !currentAuth.motifRejet">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus"
        viewBox="0 0 16 16">
        <path
          d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
        <path
          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
      </svg>
      &nbsp;&nbsp;Fixer
    </button>
    <button type="button" class="btn btn-info" (click)="open(content,'fixer')"
      *ngIf="currentAuth.dateRv && !currentAuth.motifRejet">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus"
        viewBox="0 0 16 16">
        <path
          d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
        <path
          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
      </svg>
      &nbsp;&nbsp;Renvoyer
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-danger " (click)="open(content,'supprimer')" *ngIf="!currentAuth.motifRejet">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill"
        viewBox="0 0 16 16">
        <path
          d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
      </svg>
      &nbsp;&nbsp;Supprimer
    </button>
    <button type="button" class="btn btn-success " (click)="recuperer()" *ngIf="currentAuth.motifRejet">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-all"
        viewBox="0 0 16 16">
        <path
          d="M8.098 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L8.8 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L4.114 8.254a.502.502 0 0 0-.042-.028.147.147 0 0 1 0-.252.497.497 0 0 0 .042-.028l3.984-2.933zM9.3 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
        <path
          d="M5.232 4.293a.5.5 0 0 0-.7-.106L.54 7.127a1.147 1.147 0 0 0 0 1.946l3.994 2.94a.5.5 0 1 0 .593-.805L1.114 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.5.5 0 0 0 .042-.028l4.012-2.954a.5.5 0 0 0 .106-.699z" />
      </svg>
      &nbsp;&nbsp;Recuperer
    </button>
  </div>

</div>

<ng-template #content let-modal>
  <div *ngIf="courentbouton==='fixer'">
    <div class="modal-header  text-white bg-success" >
      <h4 class="modal-title" id="modal-basic-title">Rendez-vous</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="rvForm">
        <div class="mb-3">
          <label>Donnez la date</label>
          <div class="input-group">
            <div class="input-group-apprend">
              <input type="date" formControlName="dateRv">
              <input type="text" formControlName="etat" value="en cour" hidden>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-secondary"  (click)="modal.close()"><i
        class="text-white">Annuler</i>
      </button>
      <button type="button" class="btn btn-success" [disabled]="rvForm.invalid" (click)="modal.close(onSave())"><i
          class="text-white">Enregistrer</i>
        </button>
    </div>
  </div>
  <div *ngIf="courentbouton==='supprimer'">
    <div class="modal-header text-white bg-danger">
      <h4 class="modal-title" id="modal-basic-title">Motif du Rejet</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="rvForm1">
        <div class="mb-3">
          <div class="mb-3">
            <label>Donnez Motif  </label>
            <div class="input-group">
              <div class="input-group-apprend">
                <input type="text" formControlName="motifRejet">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-secondary"  (click)="modal.close()"><i
        class="text-white">Annuler</i>
      </button>
      <button type="button" class="btn btn-success" [disabled]="rvForm1.invalid" (click)="modal.close(onSave())"><i
          class="text-white">Enregistrer</i></button>
    </div>
  </div>
</ng-template>
