<!--<c-footer>-->
  <div>
    <a routerLink="dashboard" target="_blank">Thies Mairie</a>
    <span> &copy; 2022 Memoire</span>
  </div>
  <div class="ms-auto">
    Creer
    <a routerLink="dashboard" target="_blank">
      <span>Par Baye Issa - Allé</span>
    </a>
  </div>
<!--</c-footer>-->
