<div class="row" style="background-color: #005f8d;margin: -10px;" >

  <!-- navigation -->
  <div class=" container  shadow   navbar custom-navbar navbar-inverse  " id="mainNav" role="navigation"
    style="height: 85px;position:fixed;z-index: 4;background-color: #005f8d;">

      <a href="#/sk" class="navbar-brand scroll-top logo"><b><img src="../../../assets/sk.png"
            style="width: 140px; margin-left: 20px; "></b></a>

    <ul class="nav nav-pills mt-3 " id="pills-tab" role="tablist">
      <li class="nav-item" style="font-weight: 700;">
         <a href="#home" class="nav-link navMg" id="pills-home-tab" data-toggle="pill" role="tab"
          aria-controls="pills-home" aria-selected="true">
          ACCUEIL</a>
        </li>
      <li  class="nav-item" style="font-weight: 700;">
         <a href="#services" class="nav-link navMg " id="pills-profile-tab" data-toggle="pill" role="tab"
          aria-controls="pills-profile" aria-selected="false">PRESTATIONS DE SERVICE</a>
        </li>
      <li  class="nav-item" style="font-weight: 700;">
         <a href="#aboutUs" class="nav-link navMg " id="pills-contact-tab" data-toggle="pill" role="tab"
          aria-controls="pills-contact" aria-selected="false">À PROPOS DE NOUS</a>
        </li>
      <li class="nav-item" style="font-weight: 700;">
         <a  [routerLink]="['/sk/guide']" class="nav-link navMg " id="pills-contact-tab" data-toggle="pill" role="tab"
          aria-controls="pills-contact" aria-selected="false">GUIDE USAGER</a>
        </li>
      <li class="nav-item" *ngIf="!prenom">
        <a class="nav-link " id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
          aria-selected="false"><button type="button" class="btn btn-primary" style="color: white;"
            [routerLink]="['/login']"><span>Se connecter</span></button></a>
      </li>
      <li class="nav-item" *ngIf="!prenom">
        <a class="nav-link " id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
          aria-selected="false"><button class="btn  btn-orange" [routerLink]="['/register']">S'inscrire</button>
        </a>
      </li>

      <!-- <li class="nav-item" *ngIf="prenom">
        <a class="nav-link " id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
          aria-selected="false"><button class="btn btn-danger btn-sm  mr-1" (click)="seDeconnecter()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
          </svg>&nbsp; Deconnexion</button>
        </a>
      </li> -->

      <li class="nav-item" *ngIf="prenom">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact"
          aria-selected="false">
          <c-header-nav class="ms-3">
            <ng-container *ngTemplateOutlet="userDropdown"> </ng-container>
      <c-avatar [caret]="false" cDropdownToggle cTextColor="primary" shape="rounded-1" size="lg" src="../../../../assets/img/avatars/0.jpg" > </c-avatar>


          </c-header-nav>
        </a>

        <!-- <strong style="font-size: 20px; color: white;">
        {{userConnect.prenom | titlecase}}   {{userConnect.nom | titlecase}}
      </strong> -->
      </li>
    </ul>
  </div>


  <ng-template #userDropdown>
    <c-dropdown alignment="end" variant="nav-item">

      <button cButton color="" [caret]="false" cDropdownToggle class="py-0 issa">
        <strong style="font-size: 20px;color: rgb(228, 149, 2);">{{prenom | uppercase }} {{nom | uppercase}}
          &nbsp;&nbsp;</strong>
      </button>
      <ul cDropdownMenu class="pt-0 pr-5 w-auto">
        <!-- <li>
          <h6 cDropdownHeader class="bg-black fw-semibold py-2">Settings</h6>
        </li> -->

        <li class="issa">
          <button (click)="logOut()" class="issa" type="button" cDropdownItem>
            <svg cIcon class="me-2" name="cilLockLocked"></svg>
            Deconnexion
          </button>
        </li>
        <li></li>
      </ul>
    </c-dropdown>
  </ng-template>
  <!--/.navbar-collapse-->
  <!-- </nav> -->
  <!--/.navbar-->
  <!-- </div> -->
  <!--/.container-->

  <!--/.header-->
  <!-- <div id="#top"></div> -->
  <div id="home" class="center" style="z-index: 2;">
    <div class="banner-container "> <img src="../../../assets/banner2.jpg" style="width: 100%; text-align: center;"
        alt="bannière">
      <div class="container banner-content">
        <div class="hero-text animated fadeInDownBig">
          <h1 class="responsive-headline " style="font-size: 30px;">

            <marquee direction="left" behavior="alternative">Bienvenue dans SAMAY KËYYITT </marquee>
            <marquee direction="right" behavior="alternative">Dalal jàmm ci xët u SAMAY KËYYIT</marquee>

          </h1>
          <a href="#basics" class="arrow-link"></a>
          <!--<p>Awesome theme for your Business or Corporate site to showcase <br/>
          your product and service.</p>-->
        </div>
      </div>
    </div>
  </div>

  <!--
              ::::::::::::::::::::::::
              :: PARTIE NOS SERVICE ::
              ::::::::::::::::::::::::

  -->
  <div id="services" class="page-section colord text-center" style="padding: 25px;">
    <!-- <div class="container text-center" style="width: 100%;"> -->
    <div class="">
      <!-- Heading -->
      <h2>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Nos services</font>
        </font>
      </h2><br><br>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Samay këyyit vous permet la facilitation des demarches
            administratives
            pour l'obtention des pièces d'etat civil </font>
        </font>
      </p><br><br>
    </div>
    <div class="row justify-content-center">
      <!-- item -->
      <div class="col-md-3 text-center c1"><i> <img src="../../../assets/declaration.png" style="width: 50%;"
            alt="declaration"></i>
        <h4 class="text-white"><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"><strong>Faire une Demande</strong></font>
            </font>
          </span></h4>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> <br>Besoin de faire une demande <br> fini les bousculades et le
              perte<br>
              de
              temps <br> un seul clic suffit désormais</font>
            <font style="vertical-align: inherit;"> </font>

          </font>
        </p><br>
        <button type="button" class="btn btn-orange btn-lg p-2" [routerLink]="['/sk/faireDemande']"> commençer
        </button>
      </div>
      <!-- end: -->

      <!-- item -->
      <div class="col-md-3 text-center c2"> <i><img src="../../../assets/mesDemandes.png" style="width: 50%;"
            alt="mesDemandes"></i>
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"><strong>Mes Demandes</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> <br>Suivez ici <br> l'état de <br> vos précédentes <br> demandes.
            </font>
            <!-- <font style="vertical-align: inherit;"> </font> -->
          </font>
        </p><br>
        <button type="button" class="btn  btn-orange btn-lg p-2" [routerLink]="['/sk/mesDemandes']"> consulter
        </button>
      </div>

      <!-- end: -->

      <!-- item -->
      <!-- <div class="col-md-3 text-center c1"> <i><img src="../../../assets/notification.png" style="width: 50%;"
            alt="notification"></i>
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"><strong>Notification</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> <br>Jetez <br>un coup d'oeil<br> à l'ensemble de vos <br>
              notifications.<br>
            </font>
            <font style="vertical-align: inherit;"> </font>
            <font style="vertical-align: inherit;"></font>
          </font>
        </p><br><button type="button" class="btn btn-orange btn-lg p-2 " [routerLink]="['/sk/notificationcli']"> Mes
          notification</button>
      </div> -->

      <div class="col-md-3 text-center c1"> <i><img src="../../../assets/guide.png" style="width: 50%" alt="guide"></i>
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;"><strong>Guide</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> <br>Quoi faire ? Quand le faire ? Où le faire ? Laissez-nous
              vous<br>
              guider jusqu'à l'obtention de vos papiers.<br> </font>
            <font style="vertical-align: inherit;"> </font>
            <font style="vertical-align: inherit;"> </font>
          </font>
        </p><br>
          <button type="button" class="btn  btn-orange btn-lg p-2" [routerLink]="['/sk/guide']"> Lire </button>
      </div>
    </div>
    <!-- </div> -->
  </div>

  <!--
                                      :::::::::::::::::::::::::
                                      :: PARTIE GUIDE USAGER ::
                                      :::::::::::::::::::::::::
                                       -->

  <div id="work" class="page-section page" style="padding: 20px;margin-top: 50px;">
    <!-- <div class="container"> -->
    <div class="heading text-center">
      <h2>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Guide</font>
        </font>
      </h2><br>
      <p style="color: #000">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Avec SAMAY KËYYIT, Laissez-nous vous aider à avoir vos piéces d'état
            civil en toute simplicité </font>
        </font>
      </p><br>
    </div>
    <div class="row" style="margin: 5px;">
      <!-- item -->
      <div class="col-md-4 text-center c4 ">
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="color:orange ;"><strong>Déclaration</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Decouvrez comment faire<br> une déclaration au <br> niveau de
              l'état
              civil </font>
            <font style="vertical-align: inherit;"> </font>
            <font style="vertical-align: inherit;"></font>
          </font>
        </p><a  [routerLink]="['/sk/guide']">
          <button class="btn  btn-orange p-2">Découvrir</button></a>
      </div>
      <!-- end: -->

      <!-- item -->
      <div class="col-md-4 text-center c3">
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="color: orange ;"><strong>Renouvellement</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Quels papiers renouveller ?<br> Comment les renouveller ? <br> Qui
              doit ls renouveller ?</font>
            <font style="vertical-align: inherit;"></font>
          </font>
        </p><a  [routerLink]="['/sk/guide']">
          <button class="btn  btn-orange p-2">Découvrir</button></a>
      </div>

      <!-- end: -->

      <!-- item -->
      <div class="col-md-4 text-center c4">
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="color: orange ;"><strong>Tout Genre</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Comment obenir <br> un papier <br> tout genre ? </font>
            <font style="vertical-align: inherit;"> </font>
            <font style="vertical-align: inherit;"></font>
          </font>
        </p><a  [routerLink]="['/sk/guide']">
          <button class="btn  btn-orange p-2">Découvrir</button></a>
      </div>
      <!-- end: -->

      <!-- item -->
      <!-- <div class="col-md-3 text-center c3">
        <h3><span class="id-color">
            <font style="vertical-align: inherit;">
              <font style="color: orange ;"><strong>Authentification</strong></font>
            </font>
          </span></h3>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Qu'est-ce que <br>l'Authentification ?<br> Quoi authentifier ?
            </font>
            <font style="vertical-align: inherit;"> </font>
            <font style="vertical-align: inherit;"></font>
          </font>
        </p><a href="./sk/guide">
          <button class="btn  btn-orange p-2">Découvrir</button></a>
      </div> -->
      <!-- end:-->

    </div>


    <div class="text-center " style="margin: auto;font-size: large;">
      <p style="color: #000">
        <font style="vertical-align: inherit;">
          <br>
          <font style="vertical-align: inherit;">L'obtention de piéces est plus simple avec SAMAY KËYYIT </font>
        </font>
      </p>
    </div>
    <!-- </div> -->
  </div>

  <!--
                    ::::::::::::::::::::::::::::::
                    :::::: A Propos de Nous ::::::
                    ::::::::::::::::::::::::::::::
                  -->


  <div class="container" id="aboutUs">
    <div class="heading text-center">
      <!-- Heading -->
      <h2>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">À propos de SAMAY KËYYIT</font>
        </font>
      </h2>
      <p>
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">SAMAY KËYYIT est une application web conçue par Issa Guéne et Allé
            Ladiane, étudiants en Développement et Administrtion d'Applications à l'Université Alioune Diop de Bambey.
            Celle-ci est mise en place dans le but de faciliter l'obtention de piéces d'états civil.</font>
        </font>
      </p>
    </div>
    <div class="row feature design animated fadeInUp show">
      <div class="six columns feature-media left"> <img src="../../../assets/sk.png" alt=""> </div>
      <div class="six columns right">
        <h3>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">La facilité, notre objectif</font>
          </font>
        </h3><br>
        <p>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Obtenir une piéce d'état civil a toujours été un cauchemard </font>
            <font style="vertical-align: inherit;">dans la plus grande partie du pays (bousculades, des perte de temps
              etc). Inspirés de ses faits, on a mis en place SAMAY KËYYIT. </font>
            <font style="vertical-align: inherit;">L'application permettra a quiconque le désirant de faire des demandes
              de papiers, de prendre des rendez-vous pourdes déclarations et de pouvoir suivre l"évolution de ses
              demandes à travers sa boite de notifications. </font>
            <font style="vertical-align: inherit;">Afin que toute la population puisse bénéficer de cette facilitation,
              SAMAY KËYYIT sera perfectionnée beaucoup </font>
            <font style="vertical-align: inherit;">plus avec le temps histoire de permettre la facilitation de
              l'obtention de bien d'autres piéces autres que celles de l'état civil.</font>
          </font>
        </p>
      </div>
    </div>
  </div>


  <!--
                            ::::::::::::::::::::::::::::
                            :::::: Nous Contacter ::::::
                            ::::::::::::::::::::::::::::
                          -->

  <div id="contactUs" class="contact-parlex page-section colord ">
    <div class="parlex-back">
      <div class="heading text-center">
        <!-- Heading -->
        <h2>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nous contacter</font>
          </font>
        </h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="name">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Nom</font>
                  </font>
                </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Entrez le nom"
                  title="Veuillez entrer votre nom (au moins 2 caractères)">
              </div>
              <div class="form-group">
                <label for="email">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">E-mail</font>
                  </font>
                </label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Entrez l&#39;e-mail"
                  title="S&#39;il vous plaît, mettez une adresse email valide">
                <button type="button " class=" btn-primazy" id="submit">
                  &nbsp;Envoyez&nbsp;
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="comments">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Commentaires</font>
                  </font>
                </label>
                <textarea name="comment" class="form-control" id="comments" cols="3" rows="5"
                  placeholder="Entrez votre message…"
                  title="Veuillez entrer votre message (au moins 10 caractères)"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h4>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Adresse:</font>
                </font>
              </h4>
              <address>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    Universite Alioune Diop</font>
                </font><br>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                  </font>
                  <font style="vertical-align: inherit;">Bambey/Diourbel</font>
                </font><br>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;"></font>
                </font><br>
              </address>
              <h4>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Téléphone:</font>
                </font>
              </h4>
              <address>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    78 590 38 57 - 78 371 14 95</font>
                </font><br>
              </address>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>





  <!--/.page-section-->
  <div class="copyright justify-content-center">

    <div class="row">
      <div class="col-sm-12 text-center">
        Copyright | Tous droits réservés<br>
        Papa Issa Guène & Allé Ladiane
      </div>
    </div>
    <!-- / .row -->

  </div>
</div>
