<div  class ="bg-image" style="background-image: url(../../../assets/banner2.jpg)">
  <div class=" min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4 text-white" style="background-color: rgb(3, 3, 107);">
              <c-card-body>
                <form [formGroup]="loginForm">
                  <h1 style="text-align: center; color: orange;">Connexion</h1>
                  <p style="color: white;text-align: center;">connectez-vous à votre compte</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input autoComplete="login"  cFormControl placeholder="Login" class="form-control" formControlName="login" />
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input autoComplete="current-password" cFormControl placeholder="mot de passe" class="form-control" formControlName="password" type="password"/>
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button cButton class="btn btn-warning btn-orange"  (click)="onSubmit()" style="color: white;">
                        connectez
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link" style="font-size: 12px;" [routerLink]="['/register']">
                        s'inscrire
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class=" bg-white align-items-center ">
              <c-card-body class="text-center">
                <div style="padding-top: 100px">
                  <img src="../../../assets/sk.png" width="270px">
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
</div>
