<div class="card" style="margin: 10px;">
  <div class="card-header">
    <strong>Liste <i class="text-primary">demandes</i> archivées</strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Matricule</th>
          <th scope="col">Nom & Prénom </th>
          <th scope="col" class="text-warning"> Motif Rejet </th>
          <th scope="col">Adresse</th>
          <th scope="col"> Date Debut</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let auth of auths">
        <tr *ngIf="auth.motifRejet">
          <th class="text-info" scope="col">{{auth.id}}</th>
          <th scope="col">{{auth.numAuthentfication}}</th>
          <th scope="col"> {{auth.prenom.substr(0, 1) | titlecase}} {{auth.nom }} </th>
          <th scope="col">{{auth.motifRejet}}</th>
          <th scope="col"><i>{{auth.adresse | titlecase}}</i></th>
          <th scope="col">{{auth.dateDebut | date:"dd-MM-yyyy" }}</th>
          <th>
            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/authentification/addauth',auth.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path
                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/authentification/editauth',auth.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
