table{
  background-color: rgb(0, 0, 0);
}
tr:hover{
  background-color: rgb(77, 77, 77);
}
.nav-tabs .nav-link.active{
  background-color:transparent;
  color: rgb(233, 152, 3);
  border-bottom: 5px solid white;
	cursor: pointer;
}

.navMg:hover{
	color: rgb(233, 152, 3);
	border-bottom: 5px solid white;
	cursor: pointer;
}

fieldset {
  /* for chrome and safari*/
 -webkit-animation-duration: .1s;-webkit-animation-name: slidein;

  /*for firefox*/
 -moz-animation-duration: 1.3s;-moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 1.3s;-o-animation-name: slidein;

 /* Standard syntax*/
     animation-duration: 1.3s;animation-name: slidein;
 }


 @-moz-keyframes slidein {
  from {
      margin-left: 100%;width: 300%;
  }
  to {
      margin-left: 0%; width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-left: 100%;width: 300%;
  }

  to {
      margin-left: 0%;width: 100%;
  }
}
@keyframes slidein {
  from {
      margin-left: 100%;width: 300%;
  }

  to {
      margin-left: 0%;width: 100%;
  }
}
