<!-- <app-search></app-search> -->

  <!-- nav options -->
  <ul class="nav nav-tabs m-2 shadow-sm container  shadow d-flex justify-content-center" id="pills-tab" role="tablist" >
    <li class="nav-item"> <a class="nav-link navMg {{ courentSection === 'renouvellement' ? 'active' : ''}}"
        id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('renouvellement')">Renouvellements</a> </li>
    <li class="nav-item"> <a class="nav-link navMg {{ courentSection === 'toutGenre' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('toutGenre')">Tout Genre</a> </li>
    <li class="nav-item"> <a class="nav-link navMg {{ courentSection === 'naissance' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('naissance')">Declaration Naissance</a> </li>
    <li class="nav-item"> <a class="nav-link navMg {{ courentSection === 'mariage' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('mariage')">Declaration Mariage</a> </li>
    <li class="nav-item"> <a class="nav-link navMg {{ courentSection === 'deces' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('deces')">Declaration Deces</a> </li>
  </ul> <!-- content -->

<!-- liste demandes  -->

<!-- liste demandes Renouvellements  -->
<div class="card" id="new" style="margin: 10px;" *ngIf="courentSection === 'renouvellement'">
  <fieldset>
    <div class="card-header">
      <strong>Liste des demandes <i class="text-primary">traitées</i> </strong>
    </div>
    <div class="card-body" style="text-align: center;font-size: small;background-color: black">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-info" scope="col"  class="text-white">#</th>
            <th scope="col"  class="text-primary">Extrait</th>
            <th scope="col"  class="text-white">Annee </th>
            <th scope="col"  class="text-white"> Numero Registre</th>
            <th scope="col"  class="text-white">Exemplaire</th>
            <th scope="col"  class="text-white"> Date D'envoie</th>

            <th scope="col"  class="text-white">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let renouvellement of renouvellements">
          <tr *ngIf="renouvellement?.motif ">
            <th class="text-info" scope="col"  class="text-white">{{renouvellement?.id}}</th>
            <th scope="col"  class="text-white">{{renouvellement?.extrait}}</th>
            <th scope="col"  class="text-white"> {{renouvellement?.annee | date:'yyyy'}} </th>
            <th scope="col"  class="text-white">{{renouvellement.numeroRegistre}}</th>
            <th scope="col"  class="text-white">{{renouvellement.nombreExemplaire}}</th>
            <th scope="col"  class="text-white">{{renouvellement.date}} </th>

            <th>
              <button type="button" class="btn btn-info btn-sm"
                [routerLink]="['/renouvellement/detailrnuvlmnt',renouvellement?.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                  viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>&nbsp;
               <button type="button" class="btn btn-danger btn-sm"
                (click)="openSm(contentRejet,renouvellement?.motif)"> Motif
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>

<div class="card" id="new" style="margin: 10px;" *ngIf="courentSection === 'toutGenre'">
  <fieldset>
    <div class="card-header">
      <strong>Liste des demandes <i class="text-primary">traitées</i> </strong>
    </div>
    <div class="card-body" style="text-align: center;font-size: small;">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th class="text-info" scope="col"  class="text-white">#</th>
            <th scope="col"  class="text-primary">Extrait</th>
            <th scope="col"  class="text-white">Annee </th>
            <th scope="col"  class="text-white"> Numero Registre</th>
            <th scope="col"  class="text-white">Exemplaire</th>
            <th scope="col"  class="text-white"> Date D'envoie</th>

            <th scope="col"  class="text-white">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let toutgenre of toutgenres">
          <tr *ngIf="toutgenre?.motif ">
            <th class="text-info" scope="col"  class="text-white">{{toutgenre?.id}}</th>
            <th scope="col"  class="text-white">{{toutgenre?.certificat}}</th>
            <th scope="col"  class="text-white"> {{toutgenre?.annee | date:'yyyy'}} </th>
            <th scope="col"  class="text-white">{{toutgenre.numeroRegistre}}</th>
            <th scope="col"  class="text-white">{{toutgenre.nombreExemplaire}}</th>
            <th scope="col"  class="text-white">{{toutgenre.date}} </th>


            <th>
              <button type="button" class="btn btn-info btn-sm"
              [routerLink]="['/ttgenre/detailttgenre',toutgenre?.id]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                  viewBox="0 0 16 16">
                  <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg>
              </button>&nbsp;
               <button type="button" class="btn btn-danger btn-sm"
                (click)="openSm(contentRejet,toutgenre?.motif)"> Motif
              </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'naissance'">
  <fieldset>
  <div class="card-header">
    <strong>Liste declaration  <i class="text-primary">naissance </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col"  class="text-white">#</th>
          <th scope="col"  class="text-white">Extrait</th>
          <th scope="col"  class="text-white">Date Evenement</th>
          <th scope="col"  class="text-white"> Date d'envoi</th>
          <th scope="col"  class="text-white">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let naissance of naissances">
        <tr  *ngIf="naissance?.motif ">

          <th class="text-info" scope="col"  class="text-white">{{naissance?.id}}</th>
          <th scope="col"  class="text-primary">{{naissance?.extrait}}</th>
          <th scope="col"  class="text-white">{{naissance?.dateEvenement}} </th>
          <th scope="col"  class="text-white" >{{naissance?.date}}</th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/naissance/editnaissance',naissance.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm"
                (click)="openSm(contentRejet,naissance?.motif)"> Motif
              </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'mariage'">
  <fieldset>
  <div class="card-header">
    <strong>Liste declaration  <i class="text-primary">mariage </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col"  class="text-white">#</th>
          <th scope="col"  class="text-white">Extrait</th>
          <th scope="col"  class="text-white">Date Evenement</th>
          <th scope="col"  class="text-white"> Date d'envoi</th>
          <th scope="col"  class="text-white">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let mariage of mariages">
        <tr *ngIf="mariage?.motif " >

          <th class="text-info" scope="col"  class="text-white">{{mariage?.id}}</th>
          <th scope="col"  class="text-primary">{{mariage?.extrait}}</th>
          <th scope="col"  class="text-white">{{mariage?.dateEvenement}} </th>
          <th scope="col"  class="text-white" >{{mariage?.date}}</th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/mariage/editmariage',mariage.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm"
            (click)="openSm(contentRejet,mariage?.motif)"> Motif
          </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

<div class="card" style="margin: 10px;" *ngIf="courentSection === 'deces'">
  <fieldset>
  <div class="card-header">
    <strong>Liste declaration  <i class="text-primary">deces </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col"  class="text-white">#</th>
          <th scope="col"  class="text-white">Extrait</th>
          <th scope="col"  class="text-white">Date Evenement</th>
          <th scope="col"  class="text-white"> Date d'envoi</th>
          <th scope="col"  class="text-white">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let deces of decess">
        <tr *ngIf="deces?.motif ">
          <th class="text-info" scope="col"  class="text-white">{{deces?.id}}</th>
          <th scope="col"  class="text-primary">{{deces?.extrait}}</th>
          <th scope="col"  class="text-white">{{deces?.dateEvenement}} </th>
          <th scope="col"  class="text-white" >{{deces?.date}}</th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/deces/editdeces',deces.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm"
            (click)="openSm(contentRejet,deces?.motif)"> Motif
          </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

 <ng-template #contentClient let-modal>
  <div class="modal-header bg-info text-white">
    <h4 class="modal-title" id="modal-basic-title">Client</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <!-- <p> nom : {{currentClient?.prenom}}</p>

    <p> prenom : {{currentClient?.nom}}</p> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info"  (click)="modal.close()"><i
        class="text-white">Fermer</i>
    </button>

  </div>

</ng-template>


<ng-template #contentRejet let-modal class="md-8">
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">Motif du Rejet</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center" >
    <strong>{{currentMotif?.motif}}</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">Fermer</i>
    </button>
  </div>
</ng-template>
