table{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
fieldset {
  /* for chrome and safari*/
 -webkit-animation-duration: .25ms;-webkit-animation-name: slidein;

  /*for firefox*/
 -moz-animation-duration: 1s;-moz-animation-name: slidein;

  /* for opera*/
  -o-animation-duration: 1s;-o-animation-name: slidein;

 /* Standard syntax*/
     animation-duration: 1s;animation-name: slidein;
 }


 @-moz-keyframes slidein {
  from {
      margin-left: 100%;width: 300%;
  }
  to {
      margin-left: 0%; width: 100%;
  }
}
@-o-keyframes slidein {
  from {
      margin-left: 100%;width: 300%;
  }

  to {
      margin-left: 0%;width: 100%;
  }
}
@keyframes slidein {
  from {
      margin-left: 100%;width: 300%;
  }

  to {
      margin-left: 0%;width: 100%;
  }
}
