<app-search></app-search>
<div class="card">
  <fieldset>
  <div class="card-header" >
    <strong>Liste des utilisateurs</strong>
    <!-- <button type="button" class="btn btn-success btn-sm"style="text-align: right;color: rgb(255, 255, 255);"
      [routerLink]="['/user/adduser']">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-plus"
        viewBox="0 0 16 16">
        <path
          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        <path fill-rule="evenodd"
          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
      </svg>
    </button> -->
  </div>

  <div class="card-body">
    <table class="table table-hover" style="font-size: 13px">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-info">#</th>
          <th scope="col">Prenom</th>
           <th scope="col">nom</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let utilisateur of utilisateur">
        <tr *ngIf="utilisateur.etat===true">
          <th scope="row"  class="text-info">{{utilisateur.id }}</th>
          <td>{{utilisateur.prenom | titlecase }}</td>
        <!-- <td>{{utilisateur.prenom.substr(0,1) | titlecase }}</td> -->
          <td>{{utilisateur.nom | titlecase }}</td>
          <td><i>{{utilisateur.email }}</i></td>
          <td><strong>{{utilisateur.telephone }}</strong></td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" [routerLink]="['/user/edituser',utilisateur.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="open(content,utilisateur.id)" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/user/detailuser',utilisateur.id]"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>
          </td>
          <!-- <td>
            <c-avatar size="md" src="{{ utilisateur.img}}" status="{{ utilisateur.etat }}"></c-avatar>
          </td> -->
        </tr>

      </tbody>
    </table>
  </div>
  </fieldset>
</div>


<ng-template #content let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">supprimer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    voulez-vous le supprimer !!
  </div>
  <div class="modal-footer" >
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" (click)="modal.close(supprimerUser())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>

</ng-template>
