<div class="card">
  <fieldset>
    <div class="card-header">
      Demande d'extrait <strong><i class="text-primary">mariage</i></strong>
    </div>
    <div class="d-flex flex-row align-items-center" style="padding: 10px;">
      <c-container>
        <c-row class="justify-content-center">
          <c-col md="20">
            <c-card-group>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p><strong>id : </strong> </p>
                    <p class="card-text"><strong>Extrait : </strong> </p>
                    <p class="card-text"><strong> Expediteur :</strong></p>
                    <p class="card-text"><strong> Telephone : </strong> </p>
                    <p class="card-text"><strong> Email : </strong> </p>
                    <p class="card-text"><strong> Date d'evenement : </strong> </p>
                    <p class="card-text"><strong> Date D'envoie : </strong></p>
                     <p class="card-text text-danger" ><strong> Motif </strong></p>

                  </div>
                </c-card-body>
              </c-card>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p> {{currentmariage?.id}} </p>
                    <p class="card-text">{{currentmariage?.extrait}} </p>
                    <p class="card-text">{{client?.prenom | titlecase}} {{client?.nom |
                      titlecase}}</p>
                    <p class="card-text">{{client?.telephone }} </p>
                    <p class="card-text">{{client?.email }} </p>
                    <p class="card-text">{{currentmariage?.dateEvenement}} </p>
                    <p class="card-text" >{{currentmariage?.date | date:'dd-MM-yyyy'}}</p>
                    <p class="card-text text-danger" >{{currentMotif?.motif}} </p>

                  </div>
                </c-card-body>
              </c-card>
            </c-card-group>
          </c-col>
        </c-row>
      </c-container>
    </div>

    <div class="card-footer text-white align-items-center" >

      <button type="button" class="btn btn-success " (click)="recupererMariage()" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-all"
          viewBox="0 0 16 16">
          <path
            d="M8.098 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L8.8 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L4.114 8.254a.502.502 0 0 0-.042-.028.147.147 0 0 1 0-.252.497.497 0 0 0 .042-.028l3.984-2.933zM9.3 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
          <path
            d="M5.232 4.293a.5.5 0 0 0-.7-.106L.54 7.127a1.147 1.147 0 0 0 0 1.946l3.994 2.94a.5.5 0 1 0 .593-.805L1.114 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.5.5 0 0 0 .042-.028l4.012-2.954a.5.5 0 0 0 .106-.699z" />
        </svg>
        &nbsp;&nbsp;Recuperer
      </button>
    </div>
  </fieldset>
</div>

