<div class="card">
  <fieldset>
    <div class="card-header">
      Demande d'extrait <strong><i class="text-primary">{{currentrenouvellement?.extrait | titlecase}}</i></strong>
    </div>
    <div class="d-flex flex-row align-items-center" style="padding: 10px;">
      <c-container>
        <c-row class="justify-content-center">
          <c-col md="20">
            <c-card-group>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p><strong>id : </strong> </p>
                    <p  *ngIf="profil==='officier'"><strong>Agent : </strong> </p>
                    <p class="card-text"><strong>Extrait : </strong> </p>
                    <p class="card-text"><strong> Expediteur :</strong></p>
                    <p class="card-text"><strong>Numero Registre : </strong> </p>
                    <p class="card-text"><strong>Annee Registre : </strong> </p>
                    <p class="card-text"><strong> Nombre Exemplaire : </strong> </p>
                    <p class="card-text"><strong> Telephone : </strong> </p>
                    <p class="card-text"><strong> Etat : </strong> </p>
                    <p class="card-text"><strong> Date D'envoie : </strong></p>
                    <p class="card-text"><strong> Retrait </strong></p>
                    <p class="card-text" *ngIf="currentrenouvellement?.etat===true"><strong> Code retrait </strong></p>
                    <p class="card-text text-danger" *ngIf="currentrenouvellement?.motif "><strong> Motif </strong></p>

                  </div>
                </c-card-body>
              </c-card>
              <c-card class="p-2 text-black">
                <c-card-body>
                  <div>
                    <p> {{currentrenouvellement?.id}} </p>
                    <p *ngIf="profil==='officier'  && currentAgent"> {{currentAgent?.prenom | titlecase}} {{currentAgent?.nom | titlecase}} </p>
                    <p *ngIf="profil==='officier' && !currentAgent"> non prise en charge </p>
                    <p class="card-text">{{currentrenouvellement?.extrait}} </p>
                    <p class="card-text">{{client?.prenom | titlecase}} {{client?.nom |
                      titlecase}}</p>
                    <p class="card-text">{{currentrenouvellement?.numeroRegistre }} </p>
                    <p class="card-text">{{currentrenouvellement?.annee | date:"yyyy"}} </p>
                    <p class="card-text">{{currentrenouvellement?.nombreExemplaire}} </p>
                    <p class="card-text">{{client?.telephone}} </p>
                    <p class="card-text" *ngIf="currentrenouvellement?.etat===false"> En attente </p>
                    <p class="card-text" *ngIf="currentrenouvellement?.etat===true"> Terminer </p>
                    <p class="card-text">{{currentrenouvellement?.date | date:'dd-MM-yyyy'}} à {{currentrenouvellement?.date| date:'shortTime'}}
                    </p>
                    <p class="card-text">{{currentrenouvellement?.etatRetrait}} </p>
                    <p class="card-text" *ngIf="currentrenouvellement?.etat===true">{{currentrenouvellement?.date | date:'dd'}}{{currentrenouvellement?.id}} </p>

                    <p class="card-text text-danger" *ngIf="currentrenouvellement?.motif">{{currentMotif?.motif}} </p>

                  </div>
                </c-card-body>
              </c-card>
            </c-card-group>
          </c-col>
        </c-row>
      </c-container>
    </div>
  </fieldset>
</div>

