<!-- test-->
<link href="./styleDeclaration.css" rel="stylesheet" />
<header>
   <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="bonjour">
              <span><a href="./index.html"><img src="./image/retour.png" style="width: 30px" alt=""></a>
              <font style="vertical-align: inherit;">Comment faire une Déclaration ?</font></span>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="espace"></div>
</header>

<body>
<div class="container">
       
        <div class="row">
          <!-- Declaration naissance-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
               <div class="single_advisor_details_info">
                <h2>Déclaration de Naissance</h2>
                <p class="designation">Il est obligatoire de déclarer les naissances auprès de l’officier de l’état civil aux fins d’enregistrement dans les registres de naissance. Cette déclaration permet à la personne de devenir un citoyen.La déclaration de naissance permet d'obtenir immédiatement et gratuitement le volet n° 1 de l'acte de naissance et l'inscription de la naissance sur le livret de famille.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/naissance.jpg" style="width: 300px" alt=""> 


                <!-- Social Info-->
               <div class="social-info"><h2>Qui peut déclarer un enfant ?</h2>
                  <ul>
                    <li>Le père ou la mère</li>
                    <li>Les ascendants ou les proches parents</li>
                    <li>Le médecin, l'infirmier, la sage-femme ou la matrone</li>
                    <li>Le procureur de la république</li>
                  </ul>
                  <h2> Quand faire la déclaration ?</h2>
                    <p>
                      Du jour de la naissance au 45ème jour, la déclaration est dite <strong>normale</strong>. Du 45ème jour à un an elle est appelée déclaration <strong>tardive</strong>. Au-delà d'un an, il faut un <strong>jugement d'autorisation d'inscription</strong> auprès du tribunal.<br>
                      <br>
                      <u><strong>NB</strong></u>: Le procureur de la république peut à toute époque, et en dehors des délais prévus, faire la déclaration d'une naissance dont il aurait eu connaissance et qui n'aurait pas été constatée par l'officier de l'état civil.<br>
                      <u><strong>NB</strong></u> : Le chef de village ou le délégué de quartier ont l'obligation dans
                      les 15 jours de faire à l'officier d'état civil les déclarations de naissance omises dans le délai d'un mois.
                    </p>
                  
               </div>
              </div>
              <!-- Team Details-->
             
            </div>
          </div>
          <!-- Declaration Mariage-->
           <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
                  <div class="single_advisor_details_info">
                <h2>Déclaration de Mariage</h2>
                <p class="designation">Le mariage est un acte solennel par lequel un homme et une femme établissent entre eux une union dont les conditions, les effets et la dissolution sont régis par le Code civil. Une fois le mariage célébré, il faut se rendre au niveau de l'état civil pour la déclaration.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/mariage.jpg" style="width: 300px" alt=""> 

                <!-- Social Info-->
               <div class="social-info"><h2>Qui peut déclarer un mariage ?</h2>
                  <ul>
                    <li>Ce type de ddeclaration requiert la présence des 2 concernés</li>
                    <li>NB: 4 temoins(2 de chaque côtés) </li>
                  </ul>
                  <h2>Quand déclarer ?</h2>
                    <p>
                        Du jour du mariage au 45ème jour, la déclaration est dite <strong>normale</strong>. Du 45ème jour à un an elle est appelée déclaration <strong>tardive</strong>. Au-delà d'un an, il faut un <strong>jugement d'autorisation d'inscription</strong> auprès du tribunal.<br>
                    </p>
                  
               </div>
              </div>
              <!-- Team Details-->
          
            </div>
          </div>
          <!-- Declaration deces-->
             <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
                  <div class="single_advisor_details_info">
                <h2>Déclaration de Décès</h2>
                <p class="designation">Au décès d'une personne, il est obligatoire de porter son décès à la connaissance de l’officier de l'état civil aux fins d’enregistrement dans les registres d'actes de décès.La déclaration de décès permet d'obtenir immédiatement et gratuitement la délivrance du volet n° 1 de l'acte de décès.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/deces1.jpg" style="width: 300px" alt=""> 

                <!-- Social Info-->
               <div class="social-info"><h2>Qui peut déclarer un décès ?</h2>
                  <ul>
                    <li>Les proches parents du défunt ou toute autre personne possédant sur l'état civil<br> du défunt les renseignements nécessaires à l'établissement de l'acte de décès.</li>
                    <li>Le chef de village ou le délégué de quartier</li>
                    <li>Les autorités administratives ou judiciaires</li>
                  </ul>
                  <p><u><strong>NB</strong></u>: De 30 à 45 jours après le décès, les délégués de quartier ou les chefs de village sont tenus de faire à l'officier de l'état civil les déclarations omises par les parents.<br>
                    <u><strong>NB</strong></u> : Cette démarche est obligatoire même pour les étrangers décédés au Sénégal.</p>
                  <h2>Quand déclarer ?</h2>
                    <p>
                      Du jour de la naissance au 45ème jour, la déclaration est dite <strong>normale</strong>. Du 45ème jour à un an elle est appelée <strong>déclaration tardive</strong>. Du jour du décès à un an après le décès. Lorsque la déclaration de décès est faite au-delà du 45ème jour. Au-delà d'un an, il faut demander un <strong>jugement d'autorisation d'inscription</strong> auprès du tribunal.
                    </p>
                  
               </div>
              </div>
              <!-- Team Details-->
            </div>
          </div>
          <!-- Single Advisor-->
         
        </div>
      </div>
      </body>