<link rel="stylesheet" type="text/css" href="./login.css">
<body class="main-bg">
        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke"><font size="12px">SAMAY KËYYIT</font></h3>
                    <p class="text-whitesmoke"><font size="5px">Connexion</font></p>
                <div class="container-content">
                    <form class="margin-t">
                        <div class="form-group">
                            <input type="mail" class="form-control" placeholder="Email" required=""><div class="input-group-append"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="*****" required="">
                        </div>
                        <button type="submit" class="form-button button-l margin-b">Connexion</button><br>
        
                        <a class="text-darkyellow" href="#"><small>Mot de passe oublié?</small></a>
                        <p class="text-whitesmoke text-center"><small>Vous n'avez pas de compte?</small></p>
                        <a class="text-darkyellow" href="./inscrire.html"><small>S'incrire</small></a>
                    </form>
                </div>
            </div>
</body>