<!-- test-->
<link href="./styleDeclaration.css" rel="stylesheet" />
<header>
   <div class="row justify-content-center">
          <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="bonjour">
              <span><a href="./index.html"><img src="./image/retour.png" style="width: 30px" alt=""></a>
              <font style="vertical-align: inherit;">Comment faire un Renouvellement ?</font></span>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="espace"></div>
</header>

<body>
<div class="container">
       
        <div class="row">
          <!-- Declaration naissance-->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
               <div class="single_advisor_details_info">
                <h2>Extrait de Naissance</h2>
                <p class="designation">L'extrait de naissance renseigne, d'une part, sur le centre d’enregistrement, le numéro et l’année de l’acte et, le cas échéant sur le numéro, la date et l’année de délivrance du jugement d'autorisation de transcription de l'acte, ainsi que sur les changements intervenus sur le statut de la personne. Il renseigne, d'autre part, sur le sexe, le(s) prénom(s) et nom de la personne, sur l’année, la date, l’heure et le lieu de sa naissance et sur sa filiation.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/naissance.jpg" style="width: 300px" alt=""> 


                <!-- Social Info-->
               <div class="social-info"><h2>Qui peut faire la demande ?</h2>
                  <ul>
                    <li>La personne elle-même ou toute personne intéressée</li>
                    <li>Les autorités administratives et judiciaires</li>
                  </ul>
                  <h2> Quelles sont les documents à fournir  ?</h2>
                    <p><font style="margin-left: 200px;font-family: Arial" size="4px">La personne doit se présenter avec l'une des pièces suivantes :</font>
                      <ul>
                        <li>Le volet n° 1 de l'acte de naissance</li>
                        <li>Une copie littérale d'acte de naissance</li>
                        <li>Un ancien extrait du registre des actes de naissance</li>
                        <li>Le livret de famille</li>
                        <li>Toute information renseignant sur l'identité de la personne<br>(année et numéro d'enregistrement dans le registre des naissances par exemple).</li>
                      </ul>
                    </p>
                  
               </div>
              </div>
              <!-- Team Details-->
             
            </div>
          </div>
          <!-- Declaration Mariage-->
           <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
                  <div class="single_advisor_details_info">
                <h2>Certificat de Mariage</h2>
                <p class="designation">Le certificat de mariage est une pièce d'état civil attestant de l'union entre un homme et une femme.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/mariage.jpg" style="width: 300px" alt=""> 

                <!-- Social Info-->
               <div class="social-info"><h2>Qui peut faire la demande ?</h2>
                  <ul>
                    <li>Chacun des conjoints</li>
                    <li>Les héritiers ou ayants cause</li>
                    <li>Toute autorité administrative ou judiciaire</li>
                    <li>Toute personne autorisée sur décision judiciaire</li>
                  </ul>
                  <h2>Quels sont les documents à fournir ?</h2>
                    <p><font style="margin-left: 200px;font-family: Arial" size="4px">Une des pièces suivantes :</font>
                        <ul>
                          <li>Le volet n° 1 de l'acte de mariage</li>
                          <li>Le livret de famille</li>
                          <li>Une ancienne copie de l'acte de mariage</li>
                          <li>NB : Le demandeur peut également fournir les références de l'acte de mariage (date, n° de l'acte, etc.).</li>

                        </ul>
                    </p>
                  
               </div>
              </div>
              <!-- Team Details-->
          
            </div>
          </div>
          <!-- Declaration deces-->
             <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
                  <div class="single_advisor_details_info">
                <h2>Bulletin de Décès</h2>
                <p class="designation">Le bulletin de décès est la reproduction succincte de l’acte de décès. Il renseigne sur le centre d’enregistrement de l’acte, la filiation de l’intéressé, la date et le lieu du décès.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/deces1.jpg" style="width: 300px" alt=""> 

                <!-- Social Info-->
               <div class="social-info"><h2>Qui peut faire la demande ?</h2>
                  <ul>
                    <li>Les proches parents ou les ayants cause</li>
                    <li>Les autorités administratives ou judiciaires (procureur de la République, etc.)</li>
                  </ul>
                  <h2>Quels sont les documents à présenter ?</h2>
                    <p>
                     <font style="margin-left: 200px;font-family: Arial" size="4px">Présenter l'une des pièces suivantes :</font>
                     <ul>
                       <li>Un extrait de décès</li>
                       <li>Un ancien bulletin de décès</li>
                       <li>Le livret de famille</li>
                       <li>Le volet n °1 de l'acte de décès</li>
                       <li>L'année et le numéro de l'acte d'enregistrement du décès sur les registres de l'état civil</li>
                     </ul>
                    </p>
                  
               </div>
              </div>
              <!-- Team Details-->
            </div>
          </div>
          <!-- Single Advisor-->

         
        </div>
      </div>
      </body>