<!-- test-->
<link href="./styleDeclaration.css" rel="stylesheet" />
<header>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <!-- Section Heading-->
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="bonjour">
          <span><a href="./WebThemez - Site web monopage.html"><img src="./image/retour.png" style="width: 30px"
                alt=""></a>
            <font style="vertical-align: inherit;">Comment faire une Certification ?</font>
          </span>
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="espace"></div>
</header>

<body>
  <div class="container">

    <div class="row">
      <!-- Obtention papier tout genre-->

      <!-- Certificat de résidence-->

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="single_advisor_details_info">
            <h2>Certificat de residence</h2>
            <p class="designation">Le certificat de résidence atteste qu'une personne réside effectivement dans une
              localité donnée. Il est demandé pour l'établissement de certains documents (carte nationale d'identité,
              casier judiciaire, etc.).</p>
          </div>
          <div class="advisor_thumb"><img src="./image/residence.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
              <h2>Qui peut demander un certificat de résidence ?</h2>
              <p>Toute personne résidant au Sénégal de manière permanente peut se faire délivrer un certificat de
                résidence. La présence physique de l'intéressé n'est pas obligatoire et il peut se faire représenter par
                une autre personne dûment mandatée pour effectuer la demande.</p>
              <h2>Quels sont les documents à fournir ?</h2>
              <p>
                <font style="margin-left: 200px;font-family: Arial" size="4px">La personne doit se présenter avec :
                </font>
              <ul>
                <li>Un certificat de domicile ou un justificatif de domicile<br>(facture d'électricité, d'eau ou de
                  téléphone fixe)</li>
                <li>L'original de sa carte nationale d'identité.</li>
                <li><strong>NB :</strong> Les étrangers doivent présenter leur carte d'identité d'étranger.</li>
              </ul>
              </p>

            </div>
          </div>
          <!-- Team Details-->

        </div>
      </div>

      <!-- Certificat de vie collectif-->

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="single_advisor_details_info">
            <h2>Certificat de vie collectif</h2>
            <p class="designation">Le certificat de vie collectif est un document permettant d'attester que les enfants
              mineurs d'une personne sont vivants et qu'ils sont à sa charge.</p>
          </div>
          <div class="advisor_thumb"><img src="./image/coll.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
              <h2>Qui peut demander un certificat de vie collectif ?</h2>
              <p>Seul le père, la mère ou le tuteur d'un enfant mineur est permis de faire la demande d'un certificat de
                vie collectif.</p>
              <h2>Quels sont les documents à fournir ?</h2>
              <p>
                <font style="margin-left: 200px;font-family: Arial" size="4px">La personne doit se présenter avec l'un
                  des documents ci-dessous :</font>
              <ul>
                <li>Le livret de famille</li>
                <li>Un extrait du registre des actes de naissance de chaque enfant</li>
                <li>Un bulletin de naissance de chaque enfant</li>
              </ul>
              </p>

            </div>
          </div>
          <!-- Single Advisor-->

        </div>
      </div>

      <!--Certificat de vie individuel-->

      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <!-- Team Thumb-->
          <div class="single_advisor_details_info">
            <h2>Certificat de vie individuel</h2>
            <p class="designation">Le certificat de vie individuel est une pièce administrative, délivrée par l’officier
              de l’état civil, pour attester qu’une personne est bien vivante.</p>
          </div>
          <div class="advisor_thumb"><img src="./image/indiv.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
              <h2>Qui peut demander un certificat de vie individuel ?</h2>
              <p>Toute personne intéréssée peut faire la demande </p>
              <h2>Quels sont les documents à fournir ?</h2>
              <p>
                <font style="margin-left: 200px;font-family: Arial" size="4px">La personne doit se présenter avec l'une
                  des pièces suivantes:</font>
              <ul>
                <li>Une piéce d'identité</li>
                <li>Un extrait du registre des actes de naissance</li>
                <li>Un bulletin de naissance</li>
                <li>Ou toute pièce attestant l'identité  de la personne (passeport)</li>
              </ul>
              </p>
            </div>
          </div>
          </div>

          <!--Certificat de Célibat-->

          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <!-- Team Thumb-->
              <div class="single_advisor_details_info">
                <h2>Certificat de Célibat</h2>
                <p class="designation">Le certificat de célibat est un document ayant pour objectif de prouver la situation matrimoniale (célibataire) de son détenteur.</p>
              </div>
              <div class="advisor_thumb"><img src="./image/celibat.jpg" style="width: 300px" alt="">


                <!-- Social Info-->
                <div class="social-info">
                  <h2>Qui peut demander un certificat de célibat ?</h2>
                  <p>Toute personne intéréssée ou son mandataire peut faire la demande </p>
                  <h2>Quels sont les documents à fournir ?</h2>
                  <p>
                    <font style="margin-left: 200px;font-family: Arial" size="4px">La personne doit se présenter avec
                      l'une des pièces suivantes:</font>
                  <ul>
                    <li>Une piéce d'identité</li>
                    <li>Un extrait du registre des actes de naissance</li>
                    <li>Un bulletin de naissance</li>
                    <li>Ou toute pièce attestant l'identité de la personne (passeport)</li>
                  </ul>
                  </p>
                </div>
              </div>

</body>