<div>
<app-main-bar></app-main-bar>
</div>



<div style="text-align: right; margin: 20px;">
  <button type="button" class="btn btn-success btn-sm" style="text-align: right;color: rgb(255, 255, 255);"
    [routerLink]="['/sk/faireDemande']">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill"
      viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
    </svg>
  </button>
</div>
<!-- mes declaration  -->
<div class="row" *ngFor="let mesDeclaration of mesDeclarations">

  <div class="col card sk" style="margin: 50px; width: 80%; border-top-color: orange;">
    <div class="card-header">
      Demande Declaration {{mesDeclaration?.extrait}}
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-6">
          <p class="card-text"><strong> Date d'envoie : </strong></p>
          <p class="card-text"><strong>Etat de la demande : </strong></p>
          <p class="card-text"><strong>Date Rendez-vous : </strong></p>
          <p class="card-text text-danger" *ngIf="mesDeclaration?.motif"><strong>Motif du rejet : </strong></p>
        </div>
        <div class="col-md-6">
          <p class="card-text"> {{mesDeclaration?.date}}</p>
          <p class="card-text text-warning" *ngIf="mesDeclaration?.etat===false"> en attente</p>
          <p class="card-text  text-success" *ngIf="mesDeclaration?.etat===true"> terminée</p>
          <p class="card-text" *ngIf="mesDeclaration?.rendezVous">  {{mesDeclaration?.rendezVous}}</p>
          <p class="card-text" *ngIf="!mesDeclaration?.rendezVous"> pas de rendez-vous</p>
          <p class="card-text" *ngIf="mesDeclaration?.motif">  <button type="button" class="btn btn-danger  btn-sm"
            (click)="openSm(content,mesDeclaration?.motif)"> Motif
          </button></p>
        </div>
      </div>

    </div>
  </div>
  <div class=" col">
    <div class="col card" style="margin: 50px; width: 60%;">
      <div class="card-header">
        Action
      </div>
      <div class="card-body " style="text-align: center;">
        <button disabled="{{ mesDeclaration?.etat===true ? 'disabled' : ''}}" class="btn btn-danger justify-content-end">Annuler demande</button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let mesRenouvellement of mesRenouvellements">

  <div class="col card sk" style="margin: 50px; width: 80%; border-top-color: rgb(59, 58, 58);">
    <div class="card-header">
      Demande extrait {{mesRenouvellement?.extrait}}
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-6">
          <p class="card-text"><strong> Date d'envoie : </strong></p>
          <p class="card-text"><strong>Etat de la demande : </strong></p>
          <p class="card-text"><strong>Nombre Exemplaire : </strong></p>
          <p class="card-text"><strong>Numero Registre : </strong></p>
          <p class="card-text"><strong>Annee Registre: </strong></p>
          <p class="card-text" *ngIf="mesRenouvellement?.etat===true"><strong>Code retrait </strong></p>
          <p class="card-text text-danger" *ngIf="mesRenouvellement?.motif"><strong>Motif du rejet: </strong></p>
        </div>
        <div class="col-md-6">
          <p class="card-text"> {{mesRenouvellement?.date}}</p>
          <p class="card-text text-warning" *ngIf="mesRenouvellement?.etat===false"> en attente</p>
          <p class="card-text text-success" *ngIf="mesRenouvellement?.etat===true"> terminée</p>
          <p class="card-text">  {{mesRenouvellement?.nombreExemplaire}}</p>
          <p class="card-text">  {{mesRenouvellement?.numeroRegistre}}</p>
          <p class="card-text">  {{mesRenouvellement?.annee}}</p>
          <p class="card-text text-primary" *ngIf="mesRenouvellement?.etat===true"> <strong> {{mesRenouvellement?.date | date:'dd'}}{{mesRenouvellement?.id}}</strong></p>
          <p *ngIf="mesRenouvellement?.motif">    <button type="button" class="btn btn-danger  btn-sm"
            (click)="openSm(content,mesRenouvellement?.motif)"> Motif
          </button> </p>

        </div>
      </div>

    </div>
  </div>
  <div class=" col">
    <div class="col card" style="margin: 50px; width: 60%;">
      <div class="card-header">
        Action
      </div>
      <div class="card-body " style="text-align: center;">
        <button disabled="{{ mesRenouvellement?.etat===true ? 'disabled' : ''}}" class="btn btn-danger justify-content-end">Annuler demande</button>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngFor="let mesToutGenre of mesToutGenres">

  <div class="col card sk" style="margin: 50px; width: 80%; border-top-color: blue;">
    <div class="card-header">
      Demande certificat {{mesToutGenre?.certificat}}
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-6">
          <p class="card-text"><strong> Date d'envoie : </strong></p>
          <p class="card-text"><strong>Etat de la demande : </strong></p>
          <p class="card-text"><strong>Nombre Exemplaire : </strong></p>
          <p class="card-text"><strong>Numero Registre : </strong></p>
          <p class="card-text"><strong>Annee Registre: </strong></p>
          <p class="card-text" *ngIf="mesToutGenre?.etat===true"><strong>Code retrait: </strong></p>
          <p class="card-text" *ngIf="mesToutGenre?.motif"><strong>Motif du rejet: </strong></p>
        </div>
        <div class="col-md-6">
          <p class="card-text"> {{mesToutGenre?.date}}</p>
          <p class="card-text  text-warning" *ngIf="mesToutGenre?.etat===false"> en attente</p>
          <p class="card-text  text-success" *ngIf="mesToutGenre?.etat===true"> terminée</p>
          <p class="card-text">  {{mesToutGenre?.nombreExemplaire}}</p>
          <p class="card-text">  {{mesToutGenre?.numeroRegistre}}</p>
          <p class="card-text">  {{mesToutGenre?.annee}}</p>
          <p class="card-text text-primary" *ngIf="mesToutGenre?.etat===true"><strong>  {{mesToutGenre?.date | date:'dd'}}{{mesToutGenre?.id}}</strong></p>
          <p class="card-text" *ngIf="mesToutGenre?.motif"> <button type="button" class="btn btn-danger  btn-sm"
            (click)="openSm(content,mesToutGenre?.motif)"> Motif
          </button></p>
        </div>
      </div>

    </div>
  </div>
  <div class=" col">
    <div class="col card" style="margin: 50px; width: 60%;">
      <div class="card-header">
        Action
      </div>
      <div class="card-body " style="text-align: center;">
        <button disabled="{{ mesToutGenre?.etat===true ? 'disabled' : ''}}" class="btn btn-danger justify-content-end">Annuler demande</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal class="md-8">
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">Motif du Rejet</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center" >
    <strong>{{currentMotif?.motif}}</strong>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()"><i class="text-white">Fermer</i>
    </button>
  </div>
</ng-template>
