<div style="background-color: rgb(255, 255, 255); padding: 14px;">
  <p style="text-align: right;"><button  type="button" class="btn btn-secondary" (click)="toggleWeekends()">Week-end</button></p>
  <full-calendar [deepChangeDetection]="true" [options]="calendarOptions"></full-calendar>
</div>
