<app-search></app-search>

<!-- </div> -->
<div class="container  shadow d-flex justify-content-center ">
  <!-- nav options -->
  <ul class="nav nav-pills m-2 shadow-sm" id="pills-tab" role="tablist" style="background-color: white;">
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'nvelle' ? 'active' : ''}}" id="pills-home-tab"
        data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" (click)="changeSection('nvelle')">
        Nouvelle Demande</a> </li>
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'enCour' ? 'active' : ''}}" id="pills-profile-tab"
        data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false"
        (click)="changeSection('enCour')">En cours</a> </li>
    <li class="nav-item"> <a class="nav-link {{ courentSection === 'terminer' ? 'active' : ''}}" id="pills-contact-tab"
        data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false"
        (click)="changeSection('terminer')">Terminées</a> </li>
  </ul> <!-- content -->
</div>
<!-- liste demande  nouvelle -->
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'nvelle'">
  <fieldset>
  <div class="card-header">
    <strong>Liste <i class="text-primary">demande</i> declaration Mariage</strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col" class="text-primary">Extrait</th>
          <th scope="col">Date Evenement </th>
          <th scope="col"> Date d'envoi </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let mariage of mariages">
        <tr *ngIf="!mariage?.motif &&  !mariage?.rendezVous" >
          <th class="text-info" scope="col">{{mariage?.id}}</th>
          <th scope="col" class="text-primary">{{mariage?.extrait}}</th>
          <th scope="col">{{mariage?.dateEvenement}} </th>
          <th scope="col">{{mariage?.date}}</th>
          <th>
            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/mariage/addmariage',mariage?.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path
                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/mariage/editmariage',mariage?.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="open(content,mariage.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

<!-- liste demande  en cour -->
 <div class="card" style="margin: 10px;" *ngIf="courentSection === 'enCour'">
  <fieldset>
  <div class="card-header">
    <strong>Liste mariage <i class="text-primary">en cours </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col" class="text-primary">Extrait</th>
          <th scope="col">Date Evenement </th>
          <th scope="col"> Date d'envoi </th>
          <th scope="col"  class="text-warning"> Rendez-vous </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let mariage of mariages">
        <tr *ngIf=" mariage?.rendezVous && mariage?.etat===false && !mariage?.motif " >

          <th class="text-info" scope="col">{{mariage?.id}}</th>
          <th scope="col" class="text-primary">{{mariage?.extrait}}</th>
          <th scope="col">{{mariage?.dateEvenement}} </th>
          <th scope="col">{{mariage?.date}}</th>
          <th scope="col" class="text-warning">{{mariage?.rendezVous}} </th>
          <th>
            <button type="button" class="btn btn-success btn-sm" [routerLink]="['/mariage/addmariage',mariage?.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path
                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </svg>
            </button>&nbsp;
            <button  class="btn btn-warning  btn-sm" (click)="terminerMariage(mariage?.id)" >
              en cour
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>

<!-- liste demande  terminer-->
<div class="card" style="margin: 10px;" *ngIf="courentSection === 'terminer'">
  <fieldset>
  <div class="card-header">
    <strong>Liste mariage <i class="text-primary">terminée </i></strong>
  </div>
  <div class="card-body" style="text-align: center;font-size: small;">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th class="text-info" scope="col">#</th>
          <th scope="col">Extrait</th>
          <th scope="col">Date Evenement</th>
          <th scope="col"> Date d'envoi</th>
          <th scope="col">Rendez-Vous</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngFor="let mariage of mariages">
        <tr *ngIf="mariage?.etat===true && !mariage?.motif" >

          <th class="text-info" scope="col">{{mariage?.id}}</th>
          <th scope="col" class="text-primary">{{mariage?.extrait}}</th>
          <th scope="col">{{mariage?.dateEvenement}} </th>
          <th scope="col">{{mariage?.date}}</th>
          <th scope="col" class="text-warning">{{mariage?.rendezVous}} </th>
          <th>
            <button type="button" class="btn btn-info btn-sm" [routerLink]="['/mariage/editmariage',mariage.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info"
                viewBox="0 0 16 16">
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
              </svg>
            </button>&nbsp;

            <button  class="btn btn-success  btn-sm" (click)="nonterminerMariage(mariage?.id)" >
              Terminer
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </fieldset>
</div>



<ng-template #content let-modal>
  <div class="modal-header bg-danger text-white">
    <h4 class="modal-title" id="modal-basic-title">supprimer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="rvForm1">
    <div class="mb-3">
      <div class="mb-3">
        <label>Donnez Motif  </label>
        <div class="input-group">
          <div class="input-group-apprend">
            <input type="text" formControlName="motifRejet">
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary"  (click)="modal.close()"><i class="text-white">annuler</i>
    </button>
    <button type="button" class="btn btn-danger" [disabled]="rvForm1.invalid" (click)="modal.close(supprimerMariage())"><i
        class="text-white">Supprimer</i>
    </button>

  </div>



</ng-template>
