body{margin-top:20px;
    background:#eee;
    }
    .container{
        position: absolute;
        height: 90px;
        width: 100%;
        margin: 0;
        background-color: re;
        border-radius: 15px;
    }
    .verif{
        width: 100%;
        height: 1000px;
        background-color: green;
    }
    .section_heading {
        text-align: center;
        color: orange;
        margin-left: 45px;
        font-size: 40px;
        align-content: top;
         box-shadow: 5px 9px 5px 0px #aeaeae;
        margin-bottom:20px;
        margin-top: 20px;
        background-color: #fff;
       
    
    }
    .espace{
        height: 30px;
    }
    .single_advisor_profile {
        position: relative;
        margin-bottom: 50px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
        box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    }
    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 0 0 15px 15px;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #3f43fd;
        overflow: hidden;
        height: 320px;
    }
    /* 
    .single_advisor_profile .advisor_thumb::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        width: 150%;
        height: 80px;
        bottom: -45px;
        left: -25%;
        content: "";
        background-color: #ffffff;
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    */
    @media only screen and (max-width: 575px) {
    
    }
        .single_advisor_profile .advisor_thumb::after {
            height: 160px;
            bottom: -90px;
            width: 240px;
        }
    .single_advisor_profile .advisor_thumb .social-info {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        margin-left: 245px;
    }
    .single_advisor_profile .advisor_thumb .social-info {
        position: auto;
        z-index: 1;
        width: 100%;
        height:100%;
        bottom: 0;
        margin-left: 245px;
    }
    .single_advisor_profile .advisor_thumb .social-info h2{
        text-align: center;
        font-size: 24px;
        font-family:  'Time new Roman';
        color: #000;
    }
    .single_advisor_profile .advisor_thumb .social-info  ul{
        margin-left: 150px;
        height: auto;
        font-size:17px;
        color: #fff;
        font-family: 'Arial';
        width: 70%;
    
    }
    .single_advisor_profile .advisor_thumb .social-info  p{
        text-align: left;
        font-size:15px;
        color: #000;
        margin-left: 120px;
        width: 70%;
        font-family: "Arial";
        line-height: 18px;
        
    
    }
    .single_advisor_profile .advisor_thumb .social-info a {
        font-size: 14px;
        color: #020710;
        padding: 0 5px;
    }
    .single_advisor_profile .advisor_thumb .social-info a:hover,
    .single_advisor_profile .advisor_thumb .social-info a:focus {
        color: #3f43fd;
    }
    .single_advisor_profile .advisor_thumb .social-info a:last-child {
        padding-right: 0;
    }
    .single_advisor_profile .single_advisor_details_info {
        position: relative;
        z-index: 1;
        padding: 30px;
        text-align: left;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 15px 15px 0 0;
        background-color: #ffffff;
    }
    .single_advisor_profile .single_advisor_details_info::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 3px;
        background-color: #3f43fd;
        content: "";
        top: 12px;
        right: 30px;
    }
    .single_advisor_profile .single_advisor_details_info h6 {
        margin-bottom: 0rem;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info h6 {
            font-size: 14px;
        }
    }
    .single_advisor_profile .single_advisor_details_info p {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        font-size: 20px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single_advisor_profile .single_advisor_details_info p {
            font-size: 12px;
        }
    }
    .single_advisor_profile:hover .advisor_thumb::after,
    .single_advisor_profile:focus .advisor_thumb::after {
        background-color: #070a57;
    }
    .single_advisor_profile:hover .advisor_thumb .social-info a,
    .single_advisor_profile:focus .advisor_thumb .social-info a {
        color: #ffffff;
    }
    .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
    .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
    .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
    .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info,
    .single_advisor_profile:focus .single_advisor_details_info {
        background-color: #070a57;
    }
    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h6,
    .single_advisor_profile:focus .single_advisor_details_info h6 {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }
    .single_advisor_profile:hover .single_advisor_details_info h2,
    .single_advisor_profile:focus .single_advisor_details_info h2 {
        color: #ffffff;
    }
    table{
        background-color: rgb(255, 255, 255);
      }
      
      fieldset {
        /* for chrome and safari*/
       -webkit-animation-duration: .1s;-webkit-animation-name: slidein;
      
        /*for firefox*/
       -moz-animation-duration: 1.3s;-moz-animation-name: slidein;
      
        /* for opera*/
        -o-animation-duration: 1.3s;-o-animation-name: slidein;
      
       /* Standard syntax*/
           animation-duration: 1.3s;animation-name: slidein;
       }
      
      
       @-moz-keyframes slidein {
        from {
            margin-left: 100%;width: 300%;
        }
        to {
            margin-left: 0%; width: 100%;
        }
      }
      @-o-keyframes slidein {
        from {
            margin-left: 100%;width: 300%;
        }
      
        to {
            margin-left: 0%;width: 100%;
        }
      }
      @keyframes slidein {
        from {
            margin-left: 100%;width: 300%;
        }
      
        to {
            margin-left: 0%;width: 100%;
        }
      }
        