<div class="container  shadow d-flex ">
    <ul class="nav nav-pills m-2 shadow-sm" id="pills-tab" role="tablist" style="background-color: white;">
        <li data-toggle="agent" title="liste agents" class="nav-item"> <a class="nav-link:'active'" id=" pills-home-tab"
                data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true"> Déclaration </a> </li>

        <li data-toggle="agent" title="liste officiers" class="nav-item"> <a class="nav-link:active"
                id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile"
                aria-selected="false">Renouvellement</a>
        </li>

        <li class="nav-item"> <a class="nav-link:active" id="pills-contact-tab" data-toggle="pill" role="tab"
                aria-controls="pills-contact" aria-selected="false">Tout genre</a>
        </li>
    </ul>
</div>
<div class="md-4">
    <header>
        <div class="row justify-content-center">
            <div class="md-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="bonjour">
                        <span><a href="renouvellement.html"><img src="./../../../../assets/retour.png"
                                    style="width: 30px" alt=""></a>
                            Comment faire une Certification ?
                        </span>
                    </div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="espace"></div>
    </header>
</div>



<!-- Obtention papier tout genre-->

<!-- Certificat de résidence-->

<div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
            <h2>Certificat de residence</h2>
            <p class="designation">Le certificat de résidence atteste qu'une personne réside
                effectivement dans une
                localité donnée. Il est demandé pour l'établissement de certains documents
                (carte nationale d'identité, casier judiciaire, etc.).
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/residence.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
                <h2>Qui peut demander un certificat de résidence ?</h2>
                <ul>Toute personne résidant au Sénégal de manière permanente peut se faire
                    délivrer
                    un certificat de
                    résidence. La présence physique de l'intéressé n'est pas obligatoire et il
                    peut
                    se faire représenter par
                    une autre personne dûment mandatée pour effectuer la demande.
                </ul>
                <h2>Quels sont les documents à fournir ?</h2>
                <ul>
                    La personne doit se présenter avec :
                </ul>

                <ul>
                    <li>Un certificat de domicile ou un justificatif de domicile<br>(facture
                        d'électricité, d'eau ou de
                        téléphone fixe)</li>
                    <li>L'original de sa carte nationale d'identité.</li>
                    <li><strong>NB :</strong> Les étrangers doivent présenter leur carte
                        d'identité
                        d'étranger.</li>
                </ul>


            </div>
        </div>
        <!-- Team Details-->

    </div>
</div>

<!-- Certificat de vie collectif-->

<div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
            <h2>Certificat de vie collectif</h2>
            <p class="designation">Le certificat de vie collectif est un document permettant
                d'attester que les enfants
                mineurs d'une personne sont vivants et qu'ils sont à sa charge.
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/coll.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
                <h2>Qui peut demander un certificat de vie collectif ?</h2>
                <ul>Seul le père, la mère ou le tuteur d'un enfant mineur est permis de faire la
                    demande d'un certificat de
                    vie collectif.
                </ul>
                <h2>Quels sont les documents à fournir ?</h2>
                <ul>
                    La personne doit se présenter avec l'un
                    des documents ci-dessous :
                </ul>
                <ul>
                    <li>Le livret de famille</li>
                    <li>Un extrait du registre des actes de naissance de chaque enfant</li>
                    <li>Un bulletin de naissance de chaque enfant</li>
                </ul>


            </div>
        </div>
        <!-- Single Advisor-->

    </div>
</div>

<!--Certificat de vie individuel-->

<div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
            <h2>Certificat de vie individuel</h2>
            <p class="designation">Le certificat de vie individuel est une pièce administrative,
                délivrée par l’officier
                de l’état civil, pour attester qu’une personne est bien vivante.
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/indiv.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
                <h2>Qui peut demander un certificat de vie individuel ?</h2>
               <ul>Toute personne intéréssée peut faire la demande</ul>
                <h2>Quels sont les documents à fournir ?</h2>
                <ul>
                    La personne doit se présenter avec l'une
                    des pièces suivantes:
                </ul>
                <ul>
                    <li>Une piéce d'identité</li>
                    <li>Un extrait du registre des actes de naissance</li>
                    <li>Un bulletin de naissance</li>
                    <li>Ou toute pièce attestant l'identité de la personne (passeport)</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--Certificat de Célibat-->

<div class="md-6">
    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
        <div class="single_advisor_details_info">
            <h2>Certificat de Célibat</h2>
            <p class="designation">Le certificat de célibat est un document ayant pour
                objectif
                de prouver la situation matrimoniale (célibataire) de son détenteur.
        </div>
        <div class="advisor_thumb"><img src="./../../../../assets/celibat.jpg" style="width: 300px" alt="">


            <!-- Social Info-->
            <div class="social-info">
                <h2>Qui peut demander un certificat de célibat ?</h2>
               <ul>Toute personne intéréssée ou son mandataire peut faire la demande</ul>
                <h2>Quels sont les documents à fournir ?</h2>
                <ul>
                    La personne doit se présenter avec
                    l'une des pièces suivantes:
                </ul>
                <ul>
                    <li>Une piéce d'identité</li>
                    <li>Un extrait du registre des actes de naissance</li>
                    <li>Un bulletin de naissance</li>
                    <li>Ou toute pièce attestant l'identité de la personne (passeport)</li>
                </ul>
            </div>
        </div>
    </div>
</div>