<div class="bg-image" style="background-image: url(../../../assets/banner2.jpg)">
  <div class=" min-vh-100 d-flex flex-row align-items-center" style="margin-left: 100px;">
    <c-container class="justify-content-center">
      <c-row class="justify-content-center" >
        <c-col md="8" class="justify-content-center">
          <c-card-group>
            <c-card class="p-4 text-white" style="background-color: rgb(3, 3, 107);">
              <c-card-body>
                <form [formGroup]="formClient">
                  <h1  style="text-align: center; color: orange;"> Inscription </h1>
                  <br>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input  type="text" placeholder="Prenom" class="form-control" formControlName="prenom" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input  placeholder="Nom" type="text" class="form-control" formControlName="nom" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>@</span>
                    <input  placeholder="Email" type="email" class="form-control" formControlName="email" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                    </span>
                    <input  placeholder="Telephone" type="tel" pattern="[+]{0,1}[0-9]{0,15}" class="form-control"  formControlName="telephone" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input  placeholder="Login" type="text" class="form-control" formControlName="login" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input  placeholder="Mots de Passe" type="password"  class="form-control" formControlName="password" />
                  </c-input-group>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input  placeholder="Confimer " type="password"  class="form-control" formControlName="confPassword" />
                  </c-input-group>

                  <div class="d-grid">
                    <button cButton type="submit" color="success" (click)="onSubmit()">Créer Compte</button>
                  </div>
                  <div class="d-grid">
                    <p *ngIf="logError" class="text-danger"> mots de passe incorrecte</p>
                  </div>
                </form>
              </c-card-body>
            </c-card>
            <c-card  class=" bg-white align-items-center ">
              <c-card-body class="text-center">
                <div style="padding-top: 200px">
                  <img src="../../../assets/sk.png" width="300px">
                </div>
              </c-card-body>

            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
</div>

<!-- <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680">

    <div class="card card-4">
      <c-card-group>
      <div style="margin-top: 20px;margin-bottom: -29px;">
        <strong class="title" style="color: orange ; margin-right: 100px;margin-left: 60px;"> Inscription </strong>
        <img style="text-align: right ;" src="../../../assets/sk.png" width="170px">
      </div>
      <div class="card-body">
        <form method="POST">
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Nom</label>
                <input class="input--style-4" type="text" name="first_name">
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Prénom</label>
                <input class="input--style-4" type="text" name="last_name">
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Date de Naissance</label>
                <div class="input-group-icon">
                  <input class="input--style-4 js-datepicker" type="date" name="birthday">
                  <div><i class="zmdi zmdi-calendar-note input-icon js-btn-calendar" style="width: 9px;height: 9px"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Sexe</label>
                <div class="p-t-10">
                  <label class="radio-container m-r-45">Homme
                    <input type="radio" checked="checked" name="gender">
                    <span class="checkmark"></span>
                  </label>
                  <label class="radio-container">Femme
                    <input type="radio" name="gender">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-2">
              <div class="input-group">
                <label class="label">Email</label>
                <input class="input--style-4" type="email" name="email">
              </div>
            </div>
            <div class="col-2">
              <div class="input-group">
                <label class="label">Téléphone</label>
                <input class="input--style-4" type="text" name="phone">
              </div>
            </div>
          </div>
          <div class="input-group">
            <label class="label">Adresse</label>
            <div class="rs-select2 js-select-simple select--no-search">
              <select name="subject">
                <option disabled="disabled" selected="selected">Choisir une option</option>
                <option>Thies Nord</option>
                <option>Thies Est</option>
                <option>Thies Ouest</option>
              </select>
              <div class="select-dropdown"></div>
            </div>
          </div>
          <div class="p-t-15">
            <button class="btn btn--radius-2 btn--blue" type="submit">Envoyez</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div> -->
