<div class="card">
  <div class="card-header">
    Demande d'authentfication
  </div>
  <div class="d-flex flex-row align-items-center" style="padding: 10px;">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="20">
          <c-card-group>
            <c-card class="p-2 text-black">
              <c-card-body>
                <div>
                  <p><strong>id : </strong> </p>
                  <p class="card-text"><strong>Numero : </strong> </p>
                  <p class="card-text"><strong> Expediteur :</strong></p>
                  <p class="card-text"><strong>Adresse : </strong> </p>
                  <p class="card-text"><strong> Telephone : </strong> </p>
                  <p class="card-text"><strong> Date D'envoie : </strong></p>
                  <p class="card-text" *ngIf="currentAuth.dateRv"><strong> Terminer le : </strong></p>
                  <p class="card-text" *ngIf="currentAuth.motifRejet"><strong> Motif Rejet : </strong></p>

                </div>
              </c-card-body>
            </c-card>
            <c-card class="p-2 text-black">
              <c-card-body>
                <div>
                  <p> {{currentAuth.id}} </p>
                  <p class="card-text">{{currentAuth.numAuthentfication}} </p>
                  <p class="card-text">{{currentAuth.prenom}}  {{currentAuth.nom}}</p>
                  <p class="card-text">{{currentAuth.adresse}} </p>
                  <p class="card-text">{{currentAuth.num}} </p>
                  <p class="card-text">{{currentAuth.dateDebut | date}} à {{currentAuth.dateDebut| date:'shortTime'}}
                  </p>
                  <p class="card-text" *ngIf="currentAuth.dateRv">{{currentAuth.dateRv | date}} à {{currentAuth.dateRv| date:'shortTime'}}
                  </p>
                  <p class="card-text" *ngIf="currentAuth.motifRejet">{{currentAuth.motifRejet}}</p>
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  <!-- <div class="card-footer text-white align-items-center" >

    <button type="button" class="btn btn-info" (click)="open(content)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-calendar-plus" viewBox="0 0 16 16">
                <path
                  d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
              </svg>
      &nbsp;&nbsp;Renvoyer
    </button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-danger " (click)="supprimer()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-trash3-fill" viewBox="0 0 16 16">
      <path
        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
    </svg>
    &nbsp;&nbsp;Supprimer
  </button>
  </div> -->

</div>

<!-- [routerLink]="['/authentification/addauth',auth.id]" -->

